/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/**/
body{ background:#f9f9f9; }

.header{background:#fdfff9; }
.header .inner{ width:960px;margin:0 auto; height:88px; }
.header h1{ padding-top:26px; }

.wrapper{ height:412px; background:url(/./static/img/index/bg.png?t=964137) repeat-x 0 0;  }
.wrapper .inner{ width:960px; margin:0 auto; position:relative;}
.wrapper .desc{ padding-top:30px; }


.login{ position:absolute; right:40px;top:30px;width:319px;height:289px; background:url(/./static/img/index/login.png?t=050313) no-repeat bottom center; }
.login-inner{ height:167px;background:url(/./static/img/index/login.png?t=050313) no-repeat top center; }
.login-vcode{ height:338px; }
.login a{color:#1777d1;}
.login h2{ display:none; }
.login form{ position:relative;top:74px; }
.login input{ border:1px #fff solid; width:230px; height:26px;outline:none;font-size:14px;line-height:30px\9; }
.login .password, .login .username{ padding-left:59px; }
.login .password{ padding-top:22px; *padding-top:19px;}
.login .vcode { display:none; }
.login-vcode .vcode{display:block;padding-top:17px;padding-left:30px; }
.login .vcode *{ vertical-align:top; }
.login .vcode input{width:67px;text-align:center;position:relative;top:5px;}
.login .vcode img{ width:81px; height:38px;position:relative;  margin-left:16px; }
.login .vcode a{ color:#333; font-size:12px;position:relative; top:12px; left:6px; }
.login button{ height:43px; width:273px;border:none;background:none;padding:0;margin:0;position:relative;left:24px; cursor: pointer;} 
.login .func{line-height:34px;padding:5px 0 0 25px; position:relative;color:#999;font-size:12px;}
.login .func input{width:auto;height:auto;width:1px;height:1px;position:absolute;left:-3000px;}
.login .checkbox{ display:inline-block; *display:inline;*zoom:1; width:14px; height:14px;background:url(/./static/img/checkbox.png?t=582595) no-repeat 0 -14px; position:relative; top:3px; *top:0;margin-right:2px; }
.login .checkbox-checked{ background-position:0 0; }
.login .func a{ position:absolute;right:25px;*top:-6px;; }
.login .reg{ line-height:40px;text-align:center;color:#505050;font-size:14px; }
.login .error{ position:absolute;height:33px;background:url(/./static/img/index/error.png?t=653954) no-repeat 0 0;left:23px;line-height:30px;font-size:12px;color:#e4494a;padding-left:23px; display:none;}
.login .uname-error{width:273px;top:-35px;}
.login .vcode-error{width:123px;background-position:0 -33px;top:69px;}
.login .error a{ position:absolute;background:url(/./static/img/index/error.png?t=653954) no-repeat -241px -45px;width:12px;height:12px;top:8px;right:30px; }
.login .error a:hover{ background-position:-261px -45px; }


.question{ width:960px; margin:0 auto;padding-top:14px; }
.question .title{ background:url(/./static/img/index/qbg.png?t=234754) repeat-x 0 0; height:17px; }
.question h3{ background:url(/./static/img/index/qtitle.png?t=929483) no-repeat 0 0; width:183px;height:0;padding-top:17px;overflow:hidden; }
.question .items{ overflow:hidden;zoom:1;line-height:42px; }
.question .items li{ float:left;width:192px;list-style:square inside;color:#666;font-size:10px; }
.question .items a{ font-size:12px; color:#666; text-decoration:none; }
.question .items a:hover{ text-decoration:underline; }


.footer{ font-size:12px; text-align:center; height:40px; line-height:40px;font-family:arial,helvetica,sans-serif;}
.footer a{text-decoration:none; color:#b3b2b2;}
.footer a:hover{ text-decoration:underline; }