body{ font-size:12px; color:#666;} 
a{ text-decoration:none; }
a:hover{ text-decoration:underline; }

.header,.banner { background:url(/./static/img/bgr.png?t=328066) repeat-x 0 0 ; }
.header { background-position: 0 0 ; min-width:980px;}
.header .inner{ width:980px; margin:0 auto; position:relative;height:90px;}
.header .info{ position:absolute; bottom:14px;right:0;line-height:18px;overflow:hidden;zoom:1; }
.header .info li{ float:left;}
.header .info li.sep{ padding:0 4px; }
.header a{ color:#333; }
.header h1{position:relative;top:26px;padding-left:10px;}




.wrapper{ width:980px;margin:0 auto; padding:14px 0 16px;}
.banner{ height:44px;line-height:44px;margin-bottom:13px;border:1px #cdcdcd solid; border-radius:2px; padding-left:30px;background-position:0 -90px; position:relative;}
.banner ul{overflow:hidden;zoom:1;display:none;}
.banner li{ font-size:18px; font-family:"Microsoft Yahei", sans-serif;color:#333;float:left;margin-right:40px; }
.banner a{ color:#333;text-decoration:none; }
.banner .underline{ height:3px;background:#6da700;position:absolute;bottom:-1px;left:0; font-size: 0;}
.nav,.sidebar{ border:1px #cdcdcd solid; border-radius:2px; overflow:hidden;}
.nav{display:none;}
.nav .current{ background:#fbffeb url(/./static/img/nav-arrow.png?t=447357) no-repeat 195px center; }
.nav li{ height:45px; line-height:45px;border-top:1px #cdcdcd solid;  font-size:18px; font-family:'Microsoft Yahei', sans-serif; }
.nav li.small{font-size:16px;}
.nav li a,.nav li span{ display:block; height:45px;padding-left:25px;color:#333; }
.nav li.current a{ color:#000; }
.sidebar .head{ height:44px; line-height:44px; background:#fbfbfb;border-bottom:1px #cdcdcd solid;font-size:18px;font-family:"Microsoft Yahei" , sans-serif;padding-left:26px;position:relative; }
.sidebar .head .box{ position:absolute;background:#84c30f; width:4px; height:19px; left:12px;top:12px; }


.two-col-r{ overflow:hidden;zoom:1; }
.two-col-r .col-l{ float:left;width:249px; }
.two-col-r .col-r{ float:right;width:717px; }
.two-col-r .col-r .inner{ border:1px #cdcdcd solid; border-radius:2px; min-height:380px; _height: 380px; padding:13px;}
.two-col-r .col-r .title,

.two-col-l{ overflow:hidden;zoom:1; }
.two-col-l .col-l{ float:left; width:717px;}
.two-col-l .col-r{ float:right; width:249px; }
.two-col-l .col-l .inner{ border:1px #cdcdcd solid; border-radius:2px; min-height:380px; padding:13px;}

.one-col .title{ font-size:16px;line-height:25px;padding-bottom:5px;border-bottom:1px #f3f3f3 solid;color:#999; }
.one-col{ border:1px #cdcdcd solid; border-radius:2px; }
.one-col .inner{ padding:13px; }


.form{ font-size:14px; }
.form-item { zoom:1; height:48px; }
.form-tall{ height:auto; }
.form-item:after{ content:""; display:block;clear:both;visible:hidden;height:0; }
.form-item label{ float:left; line-height:48px;width:180px;padding-right:5px;text-align:right; }
.form-item .form-el{ float:left; width:180px;height:25px;_height:24px;background:#fff url(/./static/img/input.png?t=660470) no-repeat 0 0;position:relative;top:10px;padding:4px 0 0 4px;}
.form-item .form-text{ float:left; position:relative;padding:0 0 0 4px;line-height:48px;}
.form-item .form-select{ float:left; position:relative; top:12px; left:-2px;_left:0; }
.form-item .form-select select{ height:24px;font-size:14px;  }
.form-item .form-textarea{ float:left; padding-top:12px; }
.form-item .form-textarea textarea{ width:300px;height:100px; border:1px #ccc solid; }  
.form-item .form-el-none{ padding:0;background:none; }
.form-item .form-el-s{ width:89px;background:#fff url(/./static/img/input-s.png?t=280018) no-repeat 0 0;}
.form-item .form-el-focus{ background-position:0 -32px; }
.form-item input{ width:172px;border:0;outline:none; }
.form-item .form-el-s input{ width:81px;border:0;outline:none; }
.form .desc,
.form .error{ float:left;margin-left:11px; width:258px;height:26px;line-height:26px; position:relative; top:10px;padding-left:20px;font-size:12px; }
.form .desc{ border:1px #e7e7e7 solid;color:#999;background:#f9f9f9 url(/./static/img/desc-arrow.png?t=707808) no-repeat 8px center;  }
.form .error{  border:1px #e4494a solid; background:#ffe7e8 url(/./static/img/error-arrow.png?t=719407) no-repeat 8px center; color:#e4494a; }
.form .form-item-vcode .error{ width:153px; }
.form-tall .error{width:136px;}

.form-btn { padding:10px 0 0 185px; }
.form-btn button{ border:0;padding:0;margin:0;background:url(/./static/img/btn-long.png?t=928174) no-repeat 0 0;width:182px;height:36px;color:#fff;font-size:16px;cursor:pointer;}
.form-btn button:hover{background-position:0 -44px;}
.form-desc{ padding:5px 0 0 185px;position:relative; }
.form .vpic{ float:left; padding:0 9px; position:relative; top:10px;}
.form .vpic img{ width:80px; height:28px; }
.form .change-vpic{ float:left; line-height:48px;color:#333;text-decoration:underline;}
.form-error , .form-success{ padding:10px 0 0 185px;display:none;  }
.form-error span,.form-success span{display:block;  width:258px;height:26px;line-height:26px; position:relative;padding-left:20px;font-size:12px; }
.form-success span{ border:1px #6da700 solid;color:#6da700;background:#dbff97 url(/./static/img/desc-arrow.png?t=707808) no-repeat 8px center;  }
.form-error span{  border:1px #e4494a solid; background:#ffe7e8 url(/./static/img/error-arrow.png?t=719407) no-repeat 8px center; color:#e4494a; }



.footer{ width:980px;margin:0 auto;line-height:36px;color:#b2b2b2;text-align:center; }
.footer a{ color:#b2b2b2; }


.short-btn,
a.short-btn{ width:69px; height:27px; background:url(/./static/img/btn-short.png?t=624000) no-repeat 0 0;display:inline-block; *display:inline; *zoom:1; text-align:center; color:#fff;text-decoration:none;line-height:27px; }
.long-btn,
a.long-btn{ width:182px; height:36px; background:url(/./static/img/btn-long.png?t=928174) no-repeat 0 0;display:inline-block; *display:inline; *zoom:1; text-align:center; color:#fff;text-decoration:none; font-size:16px;line-height:36px; }
a.long-btn:hover{ background-position:0 -44px; }
a.long-btn.disabled{
    background:url(/./static/img/btn-grey-long.png?t=739356) no-repeat 0 0;    
}
.medium-btn,
a.medium-btn{ width:83px; height:27px; background:url(/./static/img/btn-medium.png?t=475411) no-repeat 0 0;display:inline-block; *display:inline; *zoom:1; text-align:center; color:#fff;text-decoration:none;line-height:27px; }



.sys-error{ text-align:center; }
.sys-error .desc{ width:406px;height:80px;padding-bottom:20px;border-bottom:1px #333 dotted;margin:0 auto;color:#000;font-size:16px;font-weight:700;line-height:80px; }
.sys-error img{ margin:40px auto; }


.agreement{ font-size:14px;line-height:1.5; }
.agreement p{ text-indent:2em;margin:3px 0; }
.agreement h4{ padding:10px 0 5px;font-weight:700;font-size:16px; }
.agreement h3{ font-size:18px;font-weight:700;text-align:center;padding:20px 0; }
.agreelink{ color:#00f;text-decoration:underline; }