.two-col-r .col-r .reg-email{padding:14px 12px 20px;}
.reg-email .step{ border-bottom:1px #f3f3f3 solid;padding-bottom:20px;}
.reg-email .step span{display:block;width:686px;height:102px;background:url(/./static/img/email-step.jpg?t=325767) no-repeat 0 0; }
.reg-email .step2 span{background-position: 0 -102px; }
.reg-email .step3 span{background-position: 0 -204px; }
.reg-email .step4 span{background-position: 0 -306px; }
.reg-email .binding,
.reg-email .binded{padding:20px 0 0 20px;font-size:16px;}
.reg-email .binding p,
.reg-email .binded p{ padding-bottom:20px; }
.reg-email .binding .warn{ font-size:12px; color:red;margin-top:-10px; }

.reg-email .form{ padding-top:14px; }
.tel-valid-btn{ display:inline-block;*display:inline;*zoom:1;width:182px;height:28px;line-height:28px;font-weight:700;color:#666;background:url(/./static/img/tel-valid-btn.png?t=311781) no-repeat 0 0;text-align:center;cursor:pointer; }
.tel-valid-btn-disable{ background-position:0 -32px; cursor:default; }
.tel-valid-hr{display:block; width:182px;height:0px;overflow:hidden;border-top:1px #eaeaea dashed;position:relative;top:10px; }
.form .tel-valid-error{ float:none;display:inline-block;*display:inline;*zoom:1;position:absolute;top:0;right:-295px;display:none;  }



.checkbox{ display:inline-block; *display:inline;*zoom:1; width:14px; height:14px;background:url(/./static/img/checkbox.png?t=582595) no-repeat 0 -14px; position:absolute;left:187px;*left:184px;_left:0px; top:6px; margin-right:2px;overflow:hidden;z-index:1; }
.checkbox-checked{ background-position:0 0; }
#ConfirmChb{width:auto;height:auto;width:7px;height:7px;position:relative;top:-3px;visibility:hidden;visibility:visible\9;}
.form-desc label{padding-left:4px;}

.form-item input.nick-holder{width:81px; }
.suffix{float: left;line-height: 17px;height: 25px;top: 10px;padding: 4px 0 0 4px;_height:24px;position: relative;}