<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "D:\ideaspaceGit\sogou-passport\passport-main-service\src\main\resources\mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="userProfile" type="com.sogou.upd.passport.model.UserProfile"/>
        <typeAlias alias="account" type="com.sogou.upd.passport.model.account.Account" />
        <typeAlias alias="accountAuth" type="com.sogou.upd.passport.model.account.AccountAuth" />
        <typeAlias alias="appConfig" type="com.sogou.upd.passport.model.app.AppConfig" />
    </typeAliases>
</configuration>
