<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Login Api test</title>
    </head>
    <body>
        <p>
            <label>
                用户名
                <input type="" name="" value="" id="Username"/>
            </label>
        </p>
        <p>
            <label>
                密码
                <input type="password" name="" value="" id="Password"/>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" name="" value="" id="Autologin"/>
                记住密码
            </label>
        </p>
        <p>
            <input type="" name="" value="" id="Captcha"/>
            <img src="" class="" alt="" id="CaptchaImg"/>
</p>
        <p>
            <button id="Submit">提交</button>
        </p>
        <p><a href="#" id="Logout">退出</a></p>
        <p><a href="#" id="Renren">人人登录</a></p>
        <div id="Target">
            
        </div> 
    </body>

<script type="text/javascript" src="./passport.js"></script>
    <script type="text/javascript">

PassportSC.redirectUrl = 'http://demix.sogou.com/~zhengxin/passport/static/api/jump.htm';
PassportSC.appid = 1120;
document.getElementById('Submit').onclick = function(){
    var username = document.getElementById('Username');
    var password = document.getElementById('Password');
         var captcha = document.getElementById('Captcha');
    var autologin = document.getElementById('Autologin').checked ? 1 :0;
    if( !username.value.length || !password.value.length ){
        alert('输入内容');
        return;
    }
        
    PassportSC.loginHandle(username.value , password.value , captcha.value  , autologin , document.getElementById('Target') , 
                           function(data){
                 console.log(data)
                 if( +data.needcaptcha ){
                     document.getElementById('CaptchaImg').src = data.captchaimg;
                 }
                                                                                                                         
                                                                                                                         
} , function(){alert('success')});
};

document.getElementById('Logout').onclick = function(){
    PassportSC.logoutHandle(document.getElementById('Target') , function(){}, function(){
        alert('成功退出');
    });
};

document.getElementById('Renren').onclick = function(){
    PassportSC.authHandle('renren' ,'page' , null , 'http://www.sogou.com');
};



    </script>
</html>
