<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>搜狗通行证</title>
        <link rel="stylesheet" href="/./static/css/main.css?t=837973" type="text/css" />
    </head>
    <body >
        <div class="header" id="Header">
    <div class="inner">
        <h1><a href="/"><img src="/./static/img/logo.png" class="" alt="搜狗通行证" /></a></h1>
        <ul class="info" style="display:none;">
            <li>欢迎您，&nbsp;<span class="username"></span>&nbsp;</li>
            <li class="sep" >|</li>
            <li class="logout" >
                <a href="https://account.sogou.com/web/logout_redirect?client_id=1120&ru=https%3A%2F%2Faccount.sogou.com%2F">退出</a>
            </li>
        </ul>
    </div>
</div>
        
        <div class="wrapper">
            



<div class="banner">
    <div class="inner reg">
        <ul>
            
            <li class="current"><a href="/">首页</a></li>
            
            <li class="current"><a href="/web/userinfo/getuserinfo">个人资料</a></li>
            
            <li ><a href="/web/security">帐号安全</a></li>
            
        </ul>
    </div>
    <span class="underline"></span>
</div>


<div class="main-content two-col-l">
    <div class="col-l">

        <div class="inner ucenter">
            <div class="table">
                <script type="text/tpl"  id="Target">
                    <p class="item my">
                        <span class="label"><img id="avatar" src="/./static/img/avatar-min.png" alt="我的头像"/></span>
                        <span class="value"><span class="myacc">我的帐号</span><span class="username"><{uniqname|default("未知")}></span></span>
                        <span class="btns"><a href="/web/userinfo/getuserinfo" class="btn medium-btn">修改资料</a>
                            <a href="/web/security/password" class="btn medium-btn">修改密码</a></span>
                    </p>
                    <p class="item level">
                        <span class="label">安全级别</span>
                        <span class="value">
                            <span class="level-status"><b></b></span>
                            <span href="#" class="level-num"><{sec_score|default(0)}>分</span>
                        </span>
                    </p>
                    <p>
                        <span class="label">最近一次登录：</span>
                        <span class="value">
                            <% if +last_login_time %>
                            <{time.year}>年<{time.month}>月<{time.day}>日&nbsp;&nbsp;在&nbsp;<{last_login_loc}>
                            <% else %>
                            未知
                            <% endif %>
                        </span>
                        <a href="/web/security/history" class="btn medium-btn">查看记录</a>
                    </p>
                    <p>
                        <span class="label">密保邮箱：</span>
                        <span class="value"><{sec_email?sec_email:'未绑定'}></span>
                        <a href="/web/security/email" class="btn medium-btn"><{sec_email?'修改':'绑定'}></a>
                    </p>
                    <% if actype != 'phone' %>
                    <p>
                        <span class="label">密保手机：</span>
                        <span class="value"><{sec_mobile?sec_mobile:'未绑定'}></span>
                        <a href="/web/security/mobile" class="btn medium-btn"><{sec_mobile?'修改':'绑定'}></a>
                    </p>
                    <% endif %>
                    <p>
                        <span class="label">密保问题：</span>
                        <span class="value"><{sec_ques?'已设置':'未设置'}></span>
                        <a href="/web/security/question" class="btn medium-btn"><{sec_ques?'修改':'设置'}></a>
                    </p>
                </script>
                
            </div>
            
        </div>
    </div>
    <div class="col-r">
        <div class="sidebar">
            <div class="head">
                <span class="box"></span>
                快速通道
            </div>
            <div class="ucenter-sidebar">
                
                
                <span class="item dynamic"><a href="/web/security/password">修改密码</a></span>
                
                
                <span class="item dynamic"><a href="/web/security/email">修改密保邮箱</a></span>
                
                <p class="hr"></p>
                
                
                <span class="item dynamic"><a href="/web/security/mobile">修改密保手机</a></span>
                
                
                <span class="item dynamic"><a href="/web/security/question">修改密保问题</a></span>
                
                <p class="hr"></p>
                
                
                <span class="item persist"><a href="/web/problem/addProblem">意见反馈</a></span>
                
                
            </div>
        </div>
        
    </div>

</div>
<script type="text/tpl" id="TargetDisable">
    <p class="item my">
        <span class="label">我的帐号</span>
        <span class="value"><{username}></span>
    </p> 
</script>


        </div>
        
        <div class="footer">
    <div class="inner">
        <a href="/web/problem/addProblem">意见反馈</a>&nbsp;&nbsp;Copyright &copy;&nbsp;2014 Sogou.com.&nbsp;All Rights Reserved.&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank" id="ft_icp">京ICP证050897号</a>
    </div>
</div>
    </body>
    <script type="text/javascript" src="/./static/js/lib/ursa.js?t=140248"></script>
    <script type="text/javascript" src="/./static/js/ucenter.js?t=2014052016"></script>
    
    <script type="text/javascript">var _server_data = '${data}';</script>
    <script type="text/javascript">

var spb_vars = {
    productid:"passport",
    ptype:"web",
    pcode:"ucenter_index".split('/').join('_')
};

(function() {
    var pb = document.createElement('script'); pb.type = 'text/javascript'; pb.async = true;
    pb.src = '/static/js/pb.580599.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pb, s);
})();

//Prevent syntax error leads to undefined.
var server_data = (typeof _server_data==='undefined')?'{"status":"10001"}':_server_data;
        
require.config({
    baseUrl:"/./static/js",
    shim:{
        'uuiForm':{deps:['uuibase']}//not AMD style...
    }
});


require(['ucenter'] , function(module){
    module.init('index');
});


    </script>
</html>
<!--zly-->