<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>搜狗通行证</title>
        <link rel="stylesheet" href="/./static/css/main.css?t=864126" type="text/css" />
    </head>
    <body >
        <div class="header" id="Header">
    <div class="inner">
        <h1><a href="/"><img src="/./static/img/logo.png" class="" alt="搜狗通行证" /></a></h1>
        <ul class="info">
            <li>欢迎您&nbsp;<span class="username"></span></li>
            <li class="sep">|</li>
            <li>
                <a href="http://www.sogou.com">搜狗首页</a>
            </li>
            <li class="sep" style="display:none;">|</li>
            <li class="logout" style="display:none;">
                <a href="https://account.sogou.com/web/logout?client_id=1120">退出</a>
            </li>
        </ul>
    </div>
</div>
        
        <div class="wrapper">
            



<div class="banner">
    <div class="inner reg">
        <ul>
            
            <li class="current"><a href="/">首页</a></li>
            
            <li ><a href="/web/security">账号安全</a></li>
            
        </ul>
    </div>
    <span class="underline"></span>
</div>


<div class="main-content two-col-l">
    <div class="col-l">

        <div class="inner ucenter">
            <div class="table">
                <script type="text/tpl"  id="Target">
                    <p class="item my">
                        <span class="label">我的账号</span>
                        <span class="value"><{username}></span>
                        <a href="/web/security/password" class="btn medium-btn">修改密码</a>
                    </p>
                    <p class="item level">
                        <span class="label">安全级别</span>
                        <span class="value">
                            <span class="level-status"><b></b></span>
                            <span href="#" class="level-num"><{sec_score}>分</span>
                        </span>
                    </p>
                    <p>
                        <span class="label">最近一次登录：</span>
                        <span class="value">
                            <% if +last_login_time %>
                            <{time.year}>年<{time.month}>月<{time.day}>日&nbsp;&nbsp;在&nbsp;<{last_login_loc}>
                            <% else %>
                            未知
                            <% endif %>
                        </span>
                        <a href="/web/security/history" class="btn medium-btn">查看记录</a>
                    </p>
                    <p>
                        <span class="label">密保邮箱：</span>
                        <span class="value"><{sec_email?sec_email:'未绑定'}></span>
                        <a href="/web/security/email" class="btn medium-btn"><{sec_email?'修改':'绑定'}></a>
                    </p>
                    <p>
                        <span class="label">绑定手机：</span>
                        <span class="value"><{sec_mobile?sec_mobile:'未绑定'}></span>
                        <a href="/web/security/mobile" class="btn medium-btn"><{sec_mobile?'修改':'绑定'}></a>
                    </p>
                    <p>
                        <span class="label">密保问题：</span>
                        <span class="value"><{sec_ques?'已设置':'未设置'}></span>
                        <a href="/web/security/question" class="btn medium-btn"><{sec_ques?'修改':'设置'}></a>
                    </p>
                </script>
                
            </div>
            
        </div>
    </div>
    <div class="col-r">
        <div class="sidebar">
            <div class="head">
                <span class="box"></span>
                快速通道
            </div>
            <div class="ucenter-sidebar">
                
                
                <span class="item dynamic"><a href="/web/security/password">修改密码</a></span>
                
                
                <span class="item dynamic"><a href="/web/security/email">修改密保邮箱</a></span>
                
                <p class="hr"></p>
                
                
                <span class="item dynamic"><a href="/web/security/mobile">绑定手机</a></span>
                
                
                <span class="item dynamic"><a href="/web/security/question">修改密保问题</a></span>
                
                <p class="hr"></p>
                
                
                <span class="item persist"><a href="/web/problem/addProblem">意见反馈</a></span>
                
                
            </div>
        </div>
        
    </div>

</div>
<script type="text/tpl" id="TargetDisable">
    <p class="item my">
        <span class="label">我的账号</span>
        <span class="value"><{username}></span>
    </p> 
</script>


        </div>
        
        <div class="footer">
    <div class="inner">
        <a href="/web/problem/addProblem">意见反馈</a>&nbsp;&nbsp;Copyright &copy;&nbsp;2013 Sogou.com.&nbsp;All Rights Reserved.&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank" id="ft_icp">京ICP证050897号</a>
    </div>
</div>
    </body>
    <script type="text/javascript" src="/./static/js/lib/ursa.js?t=346533"></script>
    <script type="text/javascript" src="/./static/js/main.js?t=922709"></script>
    
    <script type="text/javascript">

var server_data = '${data}';
        
require.config({
    baseUrl:"/./static/js"
});


require(['ucenter'] , function(module){
    module.init('index');
});


    </script>
</html>