<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sogou.upd.passport.dao.account.AccountMapper">
    <resultMap id="accountMap" type="account">
        <id property="id" column="id"></id>
        <id property="passportId" column="passport_id"></id>
        <id property="passwd" column="passwd"></id>
        <id property="mobile" column="mobile"></id>
        <id property="regTime" column="reg_time"></id>
        <id property="regIp" column="reg_ip"></id>
        <id property="status" column="status"></id>
        <id property="version" column="version"></id>
        <id property="accountType" column="account_type"></id>
    </resultMap>

    <select id="checkIsRegisterAccount" parameterType="account" resultMap="accountMap">
        select id,passport_id,passwd,mobile,reg_time,reg_ip,status,version,account_type from account where
        mobile=#{mobile}
        <if test="passwd!=null">and passwd=#{passwd}</if>
        <if test="passportId!=null">and passport_id=#{passportId}</if>
    </select>

    <insert id="userRegister" parameterType="account">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
        insert into account(passport_id,passwd,mobile,reg_time,reg_ip,status,version,account_type) values
        (#{passportId},#{passwd},#{mobile},#{regTime},#{regIp},#{status},#{version},#{accountType})
    </insert>

    <select id="getUserAccount" parameterType="map" resultMap="accountMap">
          select id,passport_id,passwd,mobile,reg_time,reg_ip,status,version,account_type from account
          where mobile=#{mobile} and  passwd=#{passwd}
    </select>

    <select id="getAccountByPassportId" parameterType="java.lang.String" resultMap="accountMap">
          select id,passport_id,passwd,mobile,reg_time,reg_ip,status,version,account_type from account where passport_id=#{passportId}
    </select>

    <select id="getPassportIdByUserId" parameterType="long" resultType="java.lang.String">
          select passport_id from account where id=#{userId}
    </select>

    <select id="getUserIdByPassportId" parameterType="java.lang.String" resultType="java.lang.Long">
          select id from account where passport_id=#{passportId}
    </select>

</mapper>