<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Login Api test</title>
    </head>
    <body>
<!--         <p>
            <label>
                用户名
                <input type="text" name="" value="@sogou.com" id="Username"/>
            </label>
        </p>
        <p>
            <label>
                密码
                <input type="password" name="" value="" id="Password"/>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" name="" value="" id="Autologin"/>
                记住密码
            </label>
        </p>
        <p>
            <button id="Submit">提交</button>
        </p>
        <p><a href="#" id="Logout">退出</a></p>
        <p><a href="#" id="Renren">人人登录</a></p> -->
        <div id="Target">
            
        </div> 

        <div id="container"></div>
    </body>

    <script type="text/javascript" src="/static/api/sogou-passport.js?t="></script>
    <script type="text/javascript">
window.PassportSC = new SogouPassport("http://ufo:6789/static/api/jump.htm", 1120);

(document.all['Submit'])&&(document.all['Submit'].onclick = function() {
    var username = document.getElementById('Username');
    var password = document.getElementById('Password');
    var autologin = document.getElementById('Autologin').checked ? 1 : 0;
    if (!username.value.length || !password.value.length) {
        alert('输入内容');
        return;
    }

    PassportSC.loginHandle(username.value, password.value, autologin,
    function(dat) {
       console.log(dat)
    },
    function(dat) {
        console.log(dat)
    });
});

PassportSC.drawLoginForm(document.all['container'],
    function(dat) {
       console.log(dat)
    },
    function(dat) {
        console.log(dat)
    });

document.onclick=function(){document.body.appendChild('<script type="text/javascript" src="/static/api/passport.js?t=353583"></script>');
};
    </script>

</html>