<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
    <div id="passport"></div>
    <div id="Target"></div>
</body>
<script src="/static/api/sogou.js?t=447599"></script>
<script>
PassportSC.appid = 1044;
PassportSC.redirectUrl = 'http://ufo:6789/static/api/jump.htm';

PassportSC._drawLoginForm=function(){
        this.cElement.innerHTML = '<div class="wrapper" id="passport">' +
        '<h3 class="tit"><span>搜狐通行证</span></h3>' +
        '<form method="post" onsubmit="return PassportSC.doLogin();" name="loginform">' +
        '<div class="content_wrapper">' +
        '<div class="left"></div>' +
        '<div class="main">' +
        '<table width="100%" cellspacing="0" cellpadding="0" class="m_table">' +
        '<tr>' +
        '<td width="65"><span class="lab">用户名：</span></td>' +
        '<td width="250"><div class="i_text" id="i_text_1" ><input onfocus="psfocus(1);" onblur="psfocus(2);" name="email" type="text" autocomplete="off" disableautocomplete size="30"></div></td>' +
        '<td><a href="/skins/signup.php" target="_blank">注册新用户</a></td>' +
        '</tr>' +
        '<tr>' +
        '<td  width="65"><span class="lab">密&nbsp;&nbsp;码：</span></td>' +
        '<td><div class="i_text" id="i_text_2"><input onfocus="psfocus(3);" onblur="psfocus(4);" name="password" type="password" autocomplete="off" disableautocomplete size="30"></div></td>' +
        '<td><a href="http://passport.sohu.com/web/recover.jsp" target="_blank">忘记密码？</a></td>' +
        '</tr>' +
        '<tr>' +
        '<td colspan="3" style="padding:5px 0 0 0;"><table width="96%" cellspacing="0" cellpadding="0"><tr><td style="color:#999999;font-size:12px;" width="120">使用第三方账号登录</td><td>' +
        '<a href="javascript:_tlogin(\'sina\');" style="margin-right:20px;margin-left:7px;" title="使用新浪账号登录"><img src="/skins/images/tloginbtn/sina.gif" alt="使用新浪账号登录"/></a>' +
        '<a href="javascript:_tlogin(\'qq\');" style="margin-right:20px;" title="使用QQ账号登录"><img src="/skins/images/tloginbtn/qq.gif" alt="使用QQ账号登录"/></a>' +
        '<a href="javascript:_tlogin(\'renren\');" style="margin-right:20px;" title="使用人人账号登录"><img src="/skins/images/tloginbtn/renren.gif" alt="使用人人账号登录" /></a>' +
        '<a href="javascript:_tlogin(\'taobao\');" style="margin-right:20px;" title="使用淘宝账号登录"><img src="/skins/images/tloginbtn/taobao.gif" alt="使用淘宝账号登录"/></a>' +
        '</td></tr></table></td>' +
        '</tr>' +
        '</table>' +
    // '<div class="tips"><p>用户名或密码错误！</p></div>'+
    //  '<div style="height:35px"><div class="tips" id="pstips" style="display:none;"><p>登录失败！</p></div></div>'+
    '<div class="loginerr"><span></span><div class="loginword">用户名或密码错误！</div><div class="loginclose"><a href="javascript:errorClose();">x</a></div></div>' +
    //  '<div style="height:15px"></div>'+
    '<div class="btn_bar">' +
        '<table  cellspacing="0" cellpadding="0"  class="btn_t">' +
        '<tr>' +
        '<td width="250"><span class="ch_box"><input name="persistentcookie" type="checkbox" value="1">记住密码</span></td>' +
        '<td width="85"><input type="submit" value="" class="btn login" onfocus="this.blur()" src="http://www.sohu.com/passport/images/spacer.gif" alt="登录" /></td>' +
        '<td width="85"></td>' +
        '</tr>' +
        '</table>' +
        '</div>' +
        '</div>' +
        '<div class="right"></div>' +
    //  '<input name="persistentcookie" type="checkbox" value="1">'+
    '</form>' +
        '</div>' +
        '<div class="b_bg"></div>' +
        '</div>';
};
PassportSC.drawPassport(document.getElementById('passport')); 
</script>
</html>