<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="jedis.shardInfo.204" class="redis.clients.jedis.JedisShardInfo">
        <constructor-arg index="0" value="10.12.139.204"/>
        <constructor-arg index="1" value="6379"/>
    </bean>
    <bean id="jedis.shardInfo.205" class="redis.clients.jedis.JedisShardInfo">
        <constructor-arg index="0" value="10.12.139.205"/>
        <constructor-arg index="1" value="6379"/>
    </bean>

    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1">
            <list>
                <ref bean="jedis.shardInfo.204"/>
                <ref bean="jedis.shardInfo.205"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxActive" value="150"/>
        <property name="maxIdle" value="100"/>
        <property name="minIdle" value="50"/>
        <property name="maxWait" value="1000"/>
        <property name="testOnBorrow" value="true"/>
    </bean>



    <bean id="redisUtils" class="com.sogou.upd.passport.common.utils.RedisUtil">
        <property name="shardedJedisPool" ref="shardedJedisPool" />
    </bean>

</beans>
