<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="./static/css/main.css?t=666480" type="text/css" />
    </head>
    <body >
        <div class="header" id="Header">
    <div class="inner">
        <h1><img src="@img_prefix@/static/img/logo.png" class="" alt="搜狗通行证" /></h1>
        <ul class="info">
            <li>欢迎您&nbsp;<span class="username"></span></li>
            <li class="sep">|</li>
            <li>
                <a href="http://www.sogou.com">搜狗首页</a>
            </li>
        </ul>
    </div>
</div>
        
        <div class="wrapper">
            



<div class="banner">
    <div class="inner reg">
        <ul>
            
            <li class="current">搜狗通行证注册</li>
            
        </ul>
    </div>
    <span class="underline"></span>
</div>

<div class="main-content two-col-r">
    <div class="col-l">
        
        <ul class="nav">
    
    <li class="email current  ">
        <a href="/reg/email.ut">邮箱注册</a>
    </li>
    
    <li class="tel   ">
        <a href="/reg/tel.ut">手机注册</a>
    </li>
    
    <li class="nick   ">
        <a href="/reg/nick.ut">个性账号</a>
    </li>
    
</ul>
    </div>
    <div class="col-r">
        <div class="inner reg-email">
            <div class="step">
                <img src="@img_prefix@/static/img/email-step.jpg" class="" alt="" />
            </div>
            <div  class="form">
                <form method="post" id="" action="">
                    
                    <div class="form-item">
    <label for="EmailIpt">邮箱：</label>
    <span class="form-el">
        <input uui-type="require email" type="text" name="email" id="EmailIpt" value="" />
    </span>
</div>
                    <div class="form-item">
    <label for="PasswordIpt">密码：</label>
    <span class="form-el">
        <input uui-type="require password" type="password" name="password" id="PasswordIpt" value="" />
    </span>
</div>
                    <div class="form-item">
    <label for="ValidIpt">验证码：</label>
    <span class="form-el form-el-s"><input type="text" name="vcode" id="ValidIpt" value="" /></span>
    <span class="vpic"><img src="about:blank" class="" alt="" /></span>
    <a href="#" class="change-vpic">看不清，换一张</a>
</div>
                    <div class="form-btn">
    <button type="submit">注册</button>
</div>
                    <div class="form-desc">
    <label>
        <input type="checkbox" name="" value="" />
        我已阅读并接受
    </label>
</div>
                </form>
            </div>
        </div>
    </div>
</div>



        </div>
        
        <div class="footer">
    <div class="inner">
        &copy;2013 sogou.com
    </div>
</div>
    </body>
    <script type="text/javascript" src="http://p0.123.sogou.com/u/js/ursa.js"></script>
    <script type="text/javascript" src="./static/js/main.js?t=922709"></script>
    
    <script type="text/javascript">

var server_data = '${data}';
        
require.config({
    baseUrl:"./static/js"
});


require(['reg'] , function(module){
    module.init('email');
});


    </script>
</html>