<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>搜狗通行证</title>
        <link rel="stylesheet" href="/./static/css/main.css?t=061772" type="text/css" />
    </head>
    <body >
        <div class="header" id="Header">
    <div class="inner">
        <h1><a href="/"><img src="/./static/img/logo.png" class="" alt="搜狗通行证" /></a></h1>
        <ul class="info">
            <li>欢迎您&nbsp;<span class="username"></span></li>
            <li class="sep">|</li>
            <li>
                <a href="http://www.sogou.com">搜狗首页</a>
            </li>
            <li class="sep" style="display:none;">|</li>
            <li class="logout" style="display:none;">
                <a href="https://account.sogou.com/web/logout?client_id=1120">退出</a>
            </li>
        </ul>
    </div>
</div>
        
        <div class="wrapper">
            



<div class="banner">
    <div class="inner reg">
        <ul>
            
            <li ><a href="/">登录</a></li>
            
            <li class="current"><a href="/web/reg/email">搜狗通行证注册</a></li>
            
        </ul>
    </div>
    <span class="underline"></span>
</div>

<div class="main-content two-col-r">
    <div class="col-l">
        
        <ul class="nav">
    
    <li style="border:none;" class="email   ">
        <a href="/web/reg/email">邮箱注册</a>
    </li>
    
    <li  class="tel   ">
        <a href="/web/reg/mobile">手机注册</a>
    </li>
    
    <li  class="nick   ">
        <a href="/web/reg/nick">个性账号</a>
    </li>
    
</ul>
    </div>
    <div class="col-r">
        <div class="inner reg-email">
            <div class="step step3">
                <span ></span>
            </div>
            <div  class="form">
                <div class="binded">
                    <p>注册成功！</p>
                    <a href="/" class="long-btn">返回首页</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/tpl" id="Target3">

    <div class="binding">
        <p>验证邮件已发送至您的邮箱：<{sec_email}></p>
        <p class="warn">请您尽快登录邮箱，按邮件中指示完成验证</p>
        <a href="#" class="long-btn">去邮箱验证</a>
    </div>

</script>



        </div>
        
        <div class="footer">
    <div class="inner">
        <a href="/web/problem/addProblem">意见反馈</a>&nbsp;&nbsp;Copyright &copy;&nbsp;2013 Sogou.com.&nbsp;All Rights Reserved.&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank" id="ft_icp">京ICP证050897号</a>
    </div>
</div>
    </body>
    <script type="text/javascript" src="/./static/js/lib/ursa.js?t=346533"></script>
    <script type="text/javascript" src="/./static/js/main.js?t=922709"></script>
    
    <script type="text/javascript">

var server_data = '${data}';
        
require.config({
    baseUrl:"/./static/js"
});


require(['reg'] , function(module){
    module.init('emailsuccess');
});


    </script>
</html>