<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="/./static/css/main.css?t=080267" type="text/css" />
    </head>
    <body >
        <div class="header" id="Header">
    <div class="inner">
        <h1><img src="/./static/img/logo.png" class="" alt="搜狗通行证" /></h1>
        <ul class="info">
            <li>欢迎您&nbsp;<span class="username"></span></li>
            <li class="sep">|</li>
            <li>
                <a href="http://www.sogou.com">搜狗首页</a>
            </li>
            <li class="sep" style="display:none;">|</li>
            <li class="logout" style="display:none;">
                <a href="https://account.sogou.com/web/logout">退出</a>
            </li>
        </ul>
    </div>
</div>
        
        <div class="wrapper">
            



<div class="banner">
    <div class="inner reg">
        <ul>
            
            <li class="current"><a href="/web/reg/nick">搜狗通行证注册</a></li>
            
        </ul>
    </div>
    <span class="underline"></span>
</div>

<div class="main-content two-col-r">
    <div class="col-l">
        
        <ul class="nav">
    
    <li style="border:none;" class="email   ">
        <a href="/web/reg/email">邮箱注册</a>
    </li>
    
    <li  class="tel   ">
        <a href="/web/reg/mobile">手机注册</a>
    </li>
    
    <li  class="nick current  ">
        <a href="/web/reg/nick">个性账号</a>
    </li>
    
</ul>
    </div>
    <div class="col-r">
        <div class="inner reg-nick">
            <div class="title">
                注册个性账号
            </div>
            <div  class="form">
                <form method="post" id="" action="/web/reguser">
                    
                    <div class="form-item">
    <label for="UsernameIpt">通行证：</label>
    <span class="form-el">
        <input uui-type="require nick" type="text" name="username" id="UsernameIpt" value="" data-desc="" />
    </span>
</div>
                    <div class="form-item">
    <label for="PasswordIpt">密码：</label>
    <span class="form-el">
        <input uui-type="require password" type="password" name="password" id="PasswordIpt" value="" data-desc="" />
    </span>
</div>
                    <div class="form-item">
    <label for="Password2Ipt">确认密码：</label>
    <span class="form-el">
        <input uui-type="require vpasswd(password)" type="password" name="password2" id="Password2Ipt" value="" data-desc="" />
    </span>
</div>
                    <div class="form-item form-item-vcode">
    <label for="ValidIpt">验证码：</label>
    <span class="form-el form-el-s"><input type="text" name="captcha" id="ValidIpt" value="" uui-type="require" /></span>
    <span class="vpic"><img src="about:blank" class="" alt="" /></span>
    <a href="#" class="change-vpic">看不清，换一张</a>
</div>
                    <div class="form-btn">
    <button type="submit">注册</button>
</div>
                    <div class="form-desc">
    <label for="ConfirmChb">
        <input type="checkbox" name="" value="1" id="ConfirmChb"  data-target="ConfirmChbSpan"/>
        <span class="checkbox " id="ConfirmChbSpan" ></span>
        我已阅读并接受
    </label>
</div>
                </form>
            </div>
        </div>
    </div>
</div>



        </div>
        
        <div class="footer">
    <div class="inner">
        &copy;2013 sogou.com
    </div>
</div>
    </body>
    <script type="text/javascript" src="/./static/js/lib/ursa.js?t=346533"></script>
    <script type="text/javascript" src="/./static/js/main.js?t=922709"></script>
    
    <script type="text/javascript">

var server_data = '${data}';
        
require.config({
    baseUrl:"/./static/js"
});


require(['reg'] , function(module){
    module.init('nick');
});


    </script>
</html>