<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CONSOLE-ERROR" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
        </filter>
    </appender>
    <appender name="CONSOLE-DEBUG" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
        </filter>
    </appender>
    <appender name="CONSOLE-INFO" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
        </filter>
    </appender>
    <appender name="FILE-ALL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="File" value="/search/passport/log/couponActive.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <!--start:httpClient性能log-->
    <appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="File" value="/search/passport/log/httpclient/perfStats.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

    <appender name="CoalescingStatistics"
              class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
        <!--每分钟分析一次log，做出性能测试-->
        <param name="TimeSlice" value="60000" />
        <appender-ref ref="fileAppender" />
    </appender>

    <logger name="httpClientTimingLogger" additivity="false">
        <level value="INFO" />
        <appender-ref ref="CoalescingStatistics" />
    </logger>
    <!--end:httpClient性能log-->

    <!--start:web服务器性能log-->
    <appender name="webPerfFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="File" value="/search/passport/log/webperf/perfStats.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

    <appender name="webCoalescingStatistics"
              class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
        <!--每分钟分析一次log，做出性能测试-->
        <param name="TimeSlice" value="60000" />
        <appender-ref ref="webPerfFileAppender" />
        <appender-ref ref="graphExecutionTimes"/>
        <appender-ref ref="graphExecutionTPS"/>
    </appender>

    <!--
        This first GraphingStatisticsAppender graphs Mean execution times for the
        firstBlock and secondBlock tags
    -->
    <appender name="graphExecutionTimes"
              class="org.perf4j.log4j.GraphingStatisticsAppender">
        <!-- Possible GraphTypes are Mean, Min, Max, StdDev, Count and TPS -->
        <param name="GraphType" value="Mean"/>
        <!-- The tags of the timed execution blocks to graph are specified here -->
        <!--<param name="TagNamesToGraph" value="/web/login,/web/logout"/>-->
        <appender-ref ref="graphsFileAppender"/>
    </appender>

    <!--
        This second GraphingStatisticsAppender graphs transactions per second
        for the firstBlock and secondBlock tags
    -->
    <appender name="graphExecutionTPS"
              class="org.perf4j.log4j.GraphingStatisticsAppender">
        <param name="GraphType" value="TPS"/>
        <!--<param name="TagNamesToGraph" value="/web/login,/web/logout"/>-->
        <appender-ref ref="graphsFileAppender"/>
    </appender>

    <!--
        This file appender is used to output the graph URLs generated
        by the GraphingStatisticsAppenders
    -->
    <appender name="graphsFileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="/search/passport/log/webperf/perfGraphs.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>

    <logger name="webTimingLogger" additivity="false">
        <level value="INFO" />
        <appender-ref ref="webCoalescingStatistics" />
    </logger>
    <!--end:web服务器性能log-->

    <!--注册黑名单-->
    <appender name="regBlackListFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="File" value="/search/passport/log/blackList/regBlackList.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>
    <logger name="com.sogou.upd.passport.regBlackListFileAppender" additivity="false">
        <level value="INFO" />
        <appender-ref ref="regBlackListFileAppender" />
    </logger>

    <!--登陆黑名单-->
    <appender name="loginBlackListFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="File" value="/search/passport/log/blackList/loginBlackList.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>
    <logger name="com.sogou.upd.passport.loginBlackListFileAppender" additivity="false">
        <level value="INFO" />
        <appender-ref ref="loginBlackListFileAppender" />
    </logger>

    <!--start:userOperationLogger 用户操作行为记录log-->
    <appender name="userOperationAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="File" value="/search/passport/log/useroperation/useroperation.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %m %n" />
        </layout>
    </appender>

    <!-- Test Appender -->
    <appender name="testOperationAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="File" value="/search/passport/log/useroperation/testoperation.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %m %n" />
        </layout>
    </appender>

    <!--异步打印日志，提高效率-->
    <!--<appender name="AsyncUserOperationAppender" class="org.apache.log4j.AsyncAppender">-->
        <!--<param name="BufferSize" value="512"/>-->
        <!--<appender-ref ref="userOperationAppender"/>-->
    <!--</appender>-->

    <logger name="userOperationLogger" additivity="false">
        <level value="INFO" />
        <appender-ref ref="userOperationAppender" />
    </logger>
    <!--end:userOperationLogger 用户操作行为记录log-->

    <logger name="testOperationLogger" additivity="false">
        <level value="INFO" />
        <appender-ref ref="testOperationAppender" />
    </logger>



    <category name="java.sql" additivity="false">
        <priority value="${passport.log.level}"/>
        <appender-ref ref="CONSOLE-ERROR"/>
    </category>

    <root>
        <priority value="${passport.log.level}"/>
        <appender-ref ref="CONSOLE-DEBUG"/>
    </root>


</log4j:configuration>