<?xml version="1.0" encoding="UTF-8"?>
<!-- Reference Manual http://logback.qos.ch/manual/index.html -->
<configuration>
    <property name="log.path" value="/search/passport/log" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern> %5p [%t] %logger{36} %L %m %n</pattern>
        </encoder>
    </appender>

    <!--注册黑名单-->
    <appender name="regBlackListFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/blackList/regBlackList.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>
    <logger name="com.sogou.upd.passport.regBlackListFileAppender" level="info" additivity="false">
        <appender-ref ref="regBlackListFileAppender" />
    </logger>

    <!--登陆黑名单-->
    <appender name="loginBlackListFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/blackList/loginBlackList.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>
    <logger name="com.sogou.upd.passport.loginBlackListFileAppender" level="info" additivity="false">
        <appender-ref ref="loginBlackListFileAppender" />
    </logger>

    <appender name="userOperationAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/useroperation/useroperation.log.%d{yyyyMMddHH}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss}%msg%n</pattern>-->
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rabbitMQAppender" class="com.sogou.upd.passport.mq.RabbitMQAppender">
        <host>10.146.32.57</host>
        <port>5672</port>
        <virtualHost>/storm_host</virtualHost>
        <username>davion</username>
        <password>davion</password>
        <queueName>passport_user_1</queueName>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
        <connSize>10</connSize>
    </appender>

    <appender name="scribeAppender" class="de.bitzeche.logback.scribe.ScribeAppender">
        <!--<hostname>localhost</hostname>-->
        <scribeHost>10.11.215.215</scribeHost>
        <scribePort>1463</scribePort>
        <layout>
            <pattern>%msg</pattern>
        </layout>
        <scribeCategory>passport_user</scribeCategory>
    </appender>

    <appender name="scribeAsyncAppender" class="com.sogou.upd.passport.mq.AsyncMultiThreadAppender">
        <queueSize>512</queueSize>
        <workerSize>4</workerSize>
        <appender-ref ref="rabbitMQAppender" />
    </appender>

    <logger name="userLoggerMQ" level="info" additivity="false">
        <!--<appender-ref ref="userOperationAppender" />-->
        <appender-ref ref="rabbitMQAppender" />
    </logger>

    <logger name="userLoggerScribe" level="info" additivity="false">
        <!--<appender-ref ref="userOperationAppender" />-->
        <appender-ref ref="scribeAppender" />
    </logger>

    <logger name="userLoggerAsync" level="info" additivity="false">
        <!--<appender-ref ref="userOperationAppender" />-->
        <appender-ref ref="scribeAsyncAppender" />
    </logger>

    <logger name="userLoggerLocal" level="info" additivity="false">
        <!--<appender-ref ref="userOperationAppender" />-->
        <appender-ref ref="scribeAppenderLocal" />
    </logger>

    <logger name="userLoggerBase" level="info" additivity="false">
        <appender-ref ref="userOperationAppender" />
        <!--appender-ref ref="scribeAppender" /-->
    </logger>


    <appender name="redisMissAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/redisMiss/redisMiss.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d %msg %n</pattern>
        </encoder>
    </appender>
    <logger name="redisMissLogger" level="info" additivity="false">
        <appender-ref ref="redisMissAppender" />
    </logger>

    <!--start:httpClient性能log-->
    <appender name="httpclientFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/httpclient/perfStats.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>
    <appender name="httpclientCoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <!--每分钟分析一次log，做出性能测试-->
        <param name="TimeSlice" value="60000" />
        <appender-ref ref="httpclientFileAppender" />
    </appender>
    <logger name="httpClientTimingLogger" level="info" additivity="false">
        <appender-ref ref="httpclientCoalescingStatistics" />
    </logger>
    <!--end:httpClient性能log-->

    <!--start:web服务器性能log-->
    <appender name="webPerfFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/webperf/perfStats.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>
    <appender name="webCoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <!--每分钟分析一次log，做出性能测试-->
        <param name="TimeSlice" value="60000" />
        <appender-ref ref="webPerfFileAppender" />
    </appender>
    <logger name="webTimingLogger" level="info" additivity="false">
        <appender-ref ref="webCoalescingStatistics" />
    </logger>
    <!--end:httpClient性能log-->

    <!--start:redies请求log-->
    <appender name="rediesPerfFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/redies/rediesPerfStats.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>
    <appender name="rediesCoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <!--每分钟分析一次log，做出性能测试-->
        <param name="TimeSlice" value="60000" />
        <appender-ref ref="rediesPerfFileAppender" />
    </appender>
    <logger name="rediesTimingLogger" level="info" additivity="false">
        <appender-ref ref="rediesCoalescingStatistics" />
    </logger>
    <!--end:web服务器性能log-->


    <root level="info">
        <appender-ref ref="Console" />
    </root>
</configuration>