<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>搜狗通行证</title>
        <link rel="stylesheet" href="/./static/css/main.css?t=464609" type="text/css" />
    </head>
    <body >
        <div class="header" id="Header">
    <div class="inner">
        <h1><a href="/"><img src="/./static/img/logo.png" class="" alt="搜狗通行证" /></a></h1>
        <ul class="info" style="display:none;">
            <li>欢迎您，&nbsp;<span class="username"></span>&nbsp;</li>
            <li class="sep" >|</li>
            <li class="logout" >
                <a href="https://account.sogou.com/web/logout_redirect?client_id=1120&ru=https%3A%2F%2Faccount.sogou.com%2F">退出</a>
            </li>
        </ul>
    </div>
</div>
        
        <div class="wrapper">
            



<div class="banner">
    <div class="inner reg">
        <ul>
            
            <li ><a href="/">首页</a></li>
            
            <li ><a href="/web/userinfo/getuserinfo">个人资料</a></li>
            
            <li class="current"><a href="/web/security">帐号安全</a></li>
            
        </ul>
    </div>
    <span class="underline"></span>
</div>


<div class="main-content two-col-r">
    <div class="col-l">
        
        <ul class="nav">
    
    <li style="border:none;" class="index current  ">
        <a href="/web/security">帐号安全</a>
    </li>
    
    <li  class="password   small">
        <a href="/web/security/password">修改密码</a>
    </li>
    
    <li  class="email   small">
        <a href="/web/security/email">密保邮箱</a>
    </li>
    
    <li  class="tel   small">
        <a href="/web/security/mobile">密保手机</a>
    </li>
    
    <li  class="question   small">
        <a href="/web/security/question">密保问题</a>
    </li>
    
    <li  class="history   small">
        <a href="/web/security/history">登录记录</a>
    </li>
    
</ul>
        
    </div>
    <div class="col-r">

        <div class="inner safe-index">
                
            <div class="title">
                您的帐号目前状态
            </div>
            <div >
                <script type="text/tpl"  id="Target">
                    <p class="level">
                        帐号安全级别
                        <span class="level-status"><b></b></span>
                        <span class="level-num"><{sec_score}></span>
                        <span class="level-desc">(<{sec_score_desc}>)</span>
                    </p>
                    
                    <ul class="status">
                        <li>
                            <p class="stitle">最近一次登录时间：</p>
                            <p class="desc">
                                <% if +last_login_time %>
                                <{time.year}>年<{time.month}>月<{time.day}>日&nbsp;&nbsp;在&nbsp;<{last_login_loc}>
                                <% else %>
                                未知
                                <% endif %>
                            </p>
                        </li>
                        <li>
                            <p class="stitle">密保邮箱：</p>
                            <p class="desc"><{sec_email?sec_email:'未绑定'}></p>
                        </li>
                        <% if actype != 'phone' %>
                        <li>
                            <p class="stitle">密保手机：</p>
                            <p class="desc"><{sec_mobile?sec_mobile:'未绑定'}></p>
                        </li>
                        <% endif %>
                        <li>
                            <p class="stitle">密保问题：</p>
                            <p class="desc"><{sec_ques?'已设置':'未设置'}></p>
                        </li>
                    </ul>
                </script>
                
            </div>
            
        </div>
    </div>
</div>


        </div>
        
        <div class="footer">
    <div class="inner">
        <a href="/web/problem/addProblem">意见反馈</a>&nbsp;&nbsp;Copyright &copy;&nbsp;2015 Sogou.com.&nbsp;All Rights Reserved.&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank" id="ft_icp">京ICP证050897号</a>
    </div>
</div>
    </body>
    <script type="text/javascript" src="/./static/js/lib/ursa.js?t=140248"></script>
    <script type="text/javascript" src="/./static/js/safe.js?t=2015061120"></script>
    
    <script type="text/javascript">var _server_data = '${data}';</script>
    <script type="text/javascript">

var spb_vars = {
    productid:"passport",
    ptype:"web",
    pcode:"safe_index".split('/').join('_')
};

(function() {
    var pb = document.createElement('script'); pb.type = 'text/javascript'; pb.async = true;
    pb.src = '/static/js/pb.580599.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pb, s);
})();

//Prevent syntax error leads to undefined.
var server_data = (typeof _server_data==='undefined')?'{"status":"10001"}':_server_data;
        
require.config({
    baseUrl:"/./static/js",
    shim:{
        'uuiForm':{deps:['uuibase']}//not AMD style...
    }
});


require(['safe'] , function(module){
    module.init('index');
});


    </script>
</html>
<!--zly-->