<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>搜狗通行证</title>
        <link rel="stylesheet" href="/./static/css/main.css?t=179489" type="text/css" />
    </head>
    <body >
        <div class="header" id="Header">
    <div class="inner">
        <h1><a href="/"><img src="/./static/img/logo.png" class="" alt="搜狗通行证" /></a></h1>
        <ul class="info" style="display:none;">
            <li>欢迎您，&nbsp;<span class="username"></span>&nbsp;</li>
            <li class="sep" >|</li>
            <li class="logout" >
                <a href="https://account.sogou.com/web/logout_redirect?client_id=1120&ru=https%3A%2F%2Faccount.sogou.com%2F">退出</a>
            </li>
        </ul>
    </div>
</div>
        
        <div class="wrapper">
            



<div class="banner">
    <div class="inner reg">
        <ul>
            
            <li ><a href="/">首页</a></li>
            
            <li ><a href="/web/userinfo/getuserinfo">个人资料</a></li>
            
            <li class="current"><a href="/web/security">帐号安全</a></li>
            
        </ul>
    </div>
    <span class="underline"></span>
</div>

<div class="main-content two-col-r">
    <div class="col-l">
        
        <ul class="nav">
    
    <li style="border:none;" class="index   ">
        <a href="/web/security">帐号安全</a>
    </li>
    
    <li  class="password   small">
        <a href="/web/security/password">修改密码</a>
    </li>
    
    <li  class="email   small">
        <a href="/web/security/email">密保邮箱</a>
    </li>
    
    <li  class="tel current  small">
        <a href="/web/security/mobile">密保手机</a>
    </li>
    
    <li  class="question   small">
        <a href="/web/security/question">密保问题</a>
    </li>
    
    <li  class="history   small">
        <a href="/web/security/history">登录记录</a>
    </li>
    
</ul>
    </div>
    <div class="col-r">
        <div class="inner safe-form">
            <div class="title">
                &nbsp;
            </div>
            <div  class="form">
                <script type="text/tpl" id="Target">
                        <% if sec_mobile %><#已绑定#>
                        <div class="binded">
                            <p>您已绑定到手机<{sec_mobile}></p>
                            <a href="#" class="long-btn">修改绑定手机</a>
                        </div>
                            
                        <% else %><#未绑定#>
                            
                        <form method="post" id="" action="/web/security/bindmobile" class="form2">
                            
                            <div class="form-item">
    <label for="PasswordIpt">登录密码：</label>
    <span class="form-el">
        <input autocomplete="off" uui-type="require password" type="password" name="password" id="PasswordIpt" value="" data-desc="" class="" placeholder=""/>
    </span>
</div>
                            <div class="form-item">
    <label for="New_mobileIpt">手机号：</label>
    <span class="form-el">
        <input autocomplete="off" uui-type="require new_mobile" type="text" name="new_mobile" id="New_mobileIpt" value="" data-desc="请输入您要绑定的手机号码" class="" placeholder=""/>
    </span>
</div>
                            <div class="form-item">
    <label >&nbsp;</label>
    <span class="form-el form-el-none">
        <span class="tel-valid-btn" action="/web/security/sendsmsnew" >免费获取短信验证码</span>
        <span class="tel-valid-error error"></span>
        <span class="tel-valid-hr" ></span>
    </span>
</div>
                            <div class="form-item">
    <label for="TelvIpt">短信验证码：</label>
    <span class="form-el"><input  autocomplete="off" type="text" name="smscode" id="TelvIpt" value="" uui-type="require" /></span>
</div>
                            <div class="form-btn">
    <button type="submit">确定</button>
</div>
                        </form>
                        <% endif %>
                </script>
            </div>
        </div>
    </div>
</div>
<script type="text/tpl" id="Target2">
    <form method="post" id="RebindStep1" action="/web/security/checksms" class="form2">
        
        <div class="form-item">
    <label for="Ipt">当前手机号：</label>
    <span class="form-text">
        <{sec_mobile}>
    </span>
</div>
        <div class="form-item">
    <label >&nbsp;</label>
    <span class="form-el form-el-none">
        <span class="tel-valid-btn" action="/web/security/sendsms" >免费获取短信验证码</span>
        <span class="tel-valid-error error"></span>
        <span class="tel-valid-hr" ></span>
    </span>
</div>
        <div class="form-item">
    <label for="TelvIpt">短信验证码：</label>
    <span class="form-el"><input  autocomplete="off" type="text" name="smscode" id="TelvIpt" value="" uui-type="require" /></span>
</div>
        <div class="form-btn">
    <button type="submit">下一步</button>
</div>
    </form>
    
</script>
<script type="text/tpl" id="Target3">
    <form method="post" id="RebindStep2" action="/web/security/bindmobilenew" class="form2">
        
        <div class="form-item">
    <label for="New_mobileIpt">新手机号：</label>
    <span class="form-el">
        <input autocomplete="off" uui-type="require new_mobile" type="text" name="new_mobile" id="New_mobileIpt" value="" data-desc="请输入您要绑定的新手机号码" class="" placeholder=""/>
    </span>
</div>
        <div class="form-item">
    <label >&nbsp;</label>
    <span class="form-el form-el-none">
        <span class="tel-valid-btn" action="/web/security/sendsmsnew" >免费获取短信验证码</span>
        <span class="tel-valid-error error"></span>
        <span class="tel-valid-hr" ></span>
    </span>
</div>
        <div class="form-item">
    <label for="TelvIpt">短信验证码：</label>
    <span class="form-el"><input  autocomplete="off" type="text" name="smscode" id="TelvIpt" value="" uui-type="require" /></span>
</div>
        <div class="form-btn">
    <button type="submit">确定</button>
</div>
        <input type="hidden" name="scode" value="<{scode}>" />
    </form>
    
</script>



        </div>
        
        <div class="footer">
    <div class="inner">
        <a href="/web/problem/addProblem">意见反馈</a>&nbsp;&nbsp;Copyright &copy;&nbsp;2014 Sogou.com.&nbsp;All Rights Reserved.&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank" id="ft_icp">京ICP证050897号</a>
    </div>
</div>
    </body>
    <script type="text/javascript" src="/./static/js/lib/ursa.js?t=140248"></script>
    <script type="text/javascript" src="/./static/js/safe.js?t=2014073108"></script>
    
    <script type="text/javascript">var _server_data = '${data}';</script>
    <script type="text/javascript">

var spb_vars = {
    productid:"passport",
    ptype:"web",
    pcode:"safe_tel".split('/').join('_')
};

(function() {
    var pb = document.createElement('script'); pb.type = 'text/javascript'; pb.async = true;
    pb.src = '/static/js/pb.580599.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pb, s);
})();

//Prevent syntax error leads to undefined.
var server_data = (typeof _server_data==='undefined')?'{"status":"10001"}':_server_data;
        
require.config({
    baseUrl:"/./static/js",
    shim:{
        'uuiForm':{deps:['uuibase']}//not AMD style...
    }
});


require(['safe'] , function(module){
    module.init('tel');
});


    </script>
</html>
<!--zly-->