<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sogou.upd.passport.dao.app.AppConfigMapperr">
    <resultMap id="appConfigMap" type="appConfig">
        <id property="id" column="id"></id>
        <id property="clientId" column="client_id"></id>
        <id property="smsText" column="sms_text"></id>
        <id property="accessTokenExpiresIn" column="access_token_expiresin"></id>
        <id property="refreshTokenExpiresIn" column="refresh_token_expiresin"></id>
        <id property="serverSecret" column="server_secret"></id>
        <id property="clientSecret" column="client_secret"></id>
        <id property="createTime" column="create_time"></id>
        <id property="updateTime" column="update_time"></id>
    </resultMap>

    <select id="getAppConfigByClientId" parameterType="java.lang.Integer" resultMap="appConfigMap">
        select * from app_config where
        <if test="clientId!=null">and client_id=#{clientId}</if>
    </select>

</mapper>