<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title>联系客服</title>
    <link rel="stylesheet" href="/./static/css/wap/wap.css?t=221968" />
</head>
<body class="skin_$skin">

    <div class="login-wrap">
        <div class="header">联系客服</div>
        <ul class="ser-list">
            <li>小说：<span>客服QQ群 263958053</span></li>
            <li>游戏：<span>企业QQ 2851050936</span></li>
            <li>浏览器、输入法：<a href="http://ie.sogou.com/bbs/forum.php?mod=viewthread&tid=2589460">请点这里</a></li>
            <li>彩票：<span>kfcp@sogou-inc.com或010-5689 8998</span></li>
            <li>糖猫：<span>客服QQ群 339074366</span></li>
            <li>号码通：<span>客服QQ 1487425641</span></li>
            <li>明医：<span>客服QQ群 379063315</span></li>
            <li>搜狗云阅读：<span>客服QQ群 363549009</span></li>
            <li>其他：<span>passportkf@sogou-inc.com</span></li>
        </ul>

    </div>

 <div class="footer">
&lt; 炫彩版<i>|</i><a href="/wap/findpwd/customer?v=5&skin=$!skin&client_id=$!client_id&ru=$!ru">触屏版</a>  &gt;
<p>Copyright &copy;2017 sogou.com</p>
</div>
</body>
</html>
