<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta id="viewport" name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="MobileOptimized" content="320"/>
<meta name="format-detection" content="telephone=no"/>
<title>登录-搜狗通行证</title>
<link rel="stylesheet" href="/./static/css/wap/main.css?t=805864"/>
</head>
<body>


#if($display != "native")
<nav class="f-f f-vc">
    <a href="#" class="backlink f-f f-hc f-vc"></a>
    <div class="f-1 f-f f-hc f-vc f-title">登录搜狗帐号</div>
    <a href="/wap/reg" class="f-f f-vc f-hc reglink">注册</a>
</nav>
#end

<form action="＃" method="post" class="block">
<div class="msg f-f f-vc">
    <div class="circle red f-f f-hc f-vc hide"><div class="sprite sprite-wrong"></div></div>
    <div class="info"></div>
</div>
<div class="rows">

<!--username-->
<div class="row f-f f-vc">
    <label for="username" class="h-fil f-f f-hr f-vc">账号：</label>
    <input type="text" name="username" id="username" class="block h-fil f-1" placeholder="用户名/邮箱/手机号" autocomplete="off" tabindex="1"/>
    <a href="#" class="block indicator hide"></a>
</div>
<ul class="history hide"></ul>
<!--password-->
<div class="row f-f f-vc">
    <label for="password" class="h-fil f-f f-hr f-vc">密码：</label>
    <input type="password" name="password" id="password" class="block h-fil f-1" placeholder="至少6位" autocomplete="off" tabindex="2"/>
    <a href="#" class="block indicator hide"></a>
</div>
<!--captcha-->
<div class="row f-f f-vc hide" id="captcha-wrapper">
    <label for="captcha" class="h-fil f-f f-hr f-vc">验证码：</label>
    <input type="text" name="captcha" id="captcha" class="block h-fil f-1" placeholder="请输入验证码" autocomplete="off" tabindex="3"/>
    <img id="captcha-img" border="0" class="captcha-img block"/>
    <a href="#" class="block indicator hide"></a>
</div>
</div>
<!--tools-->
<div class="tools f-f f-vc">
    <div class="f-1 h-fil f-f f-vc f-hl">
    <input type="checkbox" class="showpass" id="showpass" tabindex="4"/>
    <label for="showpass" class="f-f f-vc">
        <div class="circle grey f-f f-hc f-vc"><div class="sprite sprite-right"></div></div>
        <div>显示密码</div>
    </label>
    </div>
    <div class="f-1 h-fil f-f f-vc f-hr">
        <a href="/wap/findpwd?client_id=1024&ru=http%3A%2F%2Fm.sogou.com%3Fclient_id%3D1024%26v%3D5" class="forgot">忘记密码?</a>
    </div>
</div>
<!--button-->
<div class="f-f">
    <input type="submit" class="block submit f-1 tc" tabindex="5" value="登录"/>
</div>
</form>
<div class="f-box">
<a href="https://account.sogou.com/connect/login?client_id=1024&provider=qq&type=wap&display=mobile&ru=http%3A%2F%2Fm.sogou.com%3Fclient_id%3D1024%26v%3D5" class="f-f f-vc trd trd-phone">
    <span class="sprite sprite-phone icon"></span>
    <span class="block f-1">短信验证登录</span>
    <span class="block r tc"></span>
</a>
<a href="https://account.sogou.com/connect/login?client_id=1024&provider=qq&type=wap&display=mobile&ru=http%3A%2F%2Fm.sogou.com%3Fclient_id%3D1024%26v%3D5" class="f-f f-vc trd trd-qq">
    <span class="sprite sprite-qq icon"></span>
    <span class="block f-1">腾讯QQ登录</span>
    <span class="block r tc"></span>
</a>
</div>
<script>var token = '${token}';</script>
<script type="text/tpl" id="history-tpl">
<%for t in list%>
    <li class="f-f f-vc">
        <div class="h-fil check"></div>
        <div class="h-fil f-1 f-f f-vc hisname"><%=t%></div>
        <a href="#" class="h-fil rm f-f f-hc f-vc" data-id="<%=t%>">删除</a>
    </li>
<%endfor%>
</script>

</body>
<script src="/static/js/lib/mursa.js?t=140248"></script>
<script src="/./static/js/wap.js?t=569631" charset="utf-8"></script>
<script>
    require.config({
    baseUrl:"/./static/js"
});

require(['wap'] , function(module){
    module['index_touch']();
});
</script>
</html>