<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta id="viewport" name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="MobileOptimized" content="320"/>
<meta name="format-detection" content="telephone=no"/>
<title>找回密码-搜狗通行证</title>
<link rel="stylesheet" href="/./static/css/wap/main.css?t=443027"/>
</head>
<body>


#if($display != "native")
<nav class="f-f f-vc">
    <a href="#" class="backlink f-f f-hc f-vc">〈</a>
    <div class="f-1 f-f f-hc f-vc">找回密码</div>
    <a href="/wap/reg" class="f-f f-vc f-hc reglink">注册</a>
</nav>
#end

<form action="＃" method="post" class="block resetpwd">
    <script type="text/tpl">
    <div class="name-info">
        <p class="name">主帐号：<%=userid%></p>
        <p>请重设您的密码(6-16位的字母、数字、下划线或组合)</p>
    </div>
    <div class="msg f-f f-vc hide">
        <div class="circle red f-f f-hc f-vc hide"><div class="sprite sprite-wrong"></div></div>
        <div class="info"></div>
    </div>
    <div class="rows">
        <!--username-->
        <div class="row f-f f-vc">
            <input type="password" name="password" id="password" class="block h-fil f-1" placeholder="请输入新密码" autocomplete="off"/>
            <a href="#" class="block indicator hide" tabindex="1"></a>
        </div>
        <div class="row f-f f-vc">
            <input type="password" name="cpassword" id="cpassword" class="block h-fil f-1" placeholder="请再次输入新密码" autocomplete="off"/>
            <a href="#" class="block indicator hide" tabindex="1"></a>
        </div>

    </div>
    <div class="f-f f-vc">
        &nbsp;
    </div>    
    <div class="f-f">
        <input type="submit" class="block submit f-1 tc" tabindex="5" value="重置密码"/>
    </div>
    </script>
</form>

<script>var data = '${data}';</script>

    

</body>
<script src="/static/js/lib/mursa.js?t=140248"></script>
<script src="/./static/js/wap.js?t=650667" charset="utf-8"></script>
<script>
    require.config({
    baseUrl:"/./static/js"
});

require(['wap'] , function(module){
    module['resetpwd_touch']();
});
</script>
</html>