<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="/./static/css/wap/wap.css?t=649603" />
</head>
<body class="skin_$skin">

 <div class="footer">
&lt; 炫彩版<i>|</i><a href="?v=5&skin=$!skin&client_id=$!client_id&ru=$!ru">触屏版</a>  &gt;
<p>Copyright &copy;2015 sogou.com</p>
</div>
</body>
</html>