<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="/./static/css/main.css?t=488165" type="text/css" />
    </head>
    <body >
        <div class="header" id="Header">
    <div class="inner">
        <h1><img src="/./static/img/logo.png" class="" alt="搜狗通行证" /></h1>
        <ul class="info">
            <li>欢迎您&nbsp;<span class="username"></span></li>
            <li class="sep">|</li>
            <li>
                <a href="http://www.sogou.com">搜狗首页</a>
            </li>
            <li class="sep" style="display:none;">|</li>
            <li class="logout" style="display:none;">
                <a href="https://account.sogou.com/web/logout">退出</a>
            </li>
        </ul>
    </div>
</div>
        
        <div class="wrapper">
            



<div class="banner">
    <div class="inner reg">
        <ul>
            
            <li ><a href="">首页</a></li>
            
            <li ><a href="1">找回密码</a></li>
            
        </ul>
    </div>
    <span class="underline"></span>
</div>

<div class="main-content one-col">
    <div class="inner recover" >
        <div class="title">
            提示信息
        </div>
        <div  class="form" style="visibility:hidden;">
            <form method="post" id="" action="">
                
                <div class="form-item">
    <label for="Ipt">请回答问题：</label>
    <span class="form-text">
        
    </span>
</div>
                <div class="form-item">
    <label for="AnswerIpt">答案：</label>
    <span class="form-el">
        <input uui-type="require answer" type="text" name="answer" id="AnswerIpt" value="" />
    </span>
</div>
                <div class="form-item form-item-vcode">
    <label for="ValidIpt">验证码：</label>
    <span class="form-el form-el-s"><input type="text" name="captcha" id="ValidIpt" value="" uui-type="require" /></span>
    <span class="vpic"><img src="about:blank" class="" alt="" /></span>
    <a href="#" class="change-vpic">看不清，换一张</a>
</div>
                <div class="form-btn">
    <button type="submit">确定</button>
</div>
            </form>
        </div>
    </div>
</div>



        </div>
        
        <div class="footer">
    <div class="inner">
        &copy;2013 sogou.com
    </div>
</div>
    </body>
    <script type="text/javascript" src="/./static/js/lib/ursa.js?t=346533"></script>
    <script type="text/javascript" src="/./static/js/main.js?t=922709"></script>
    
    <script type="text/javascript">

var server_data = '${data}';
        
require.config({
    baseUrl:"/./static/js"
});


require(['recover'] , function(module){
    module.init('question');
});


    </script>
</html>