<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>搜狗通行证</title>
        <link rel="stylesheet" href="/./static/css/main.css?t=179489" type="text/css" />
    </head>
    <body >
        <div class="header" id="Header">
    <div class="inner">
        <h1><a href="/"><img src="/./static/img/logo.png" class="" alt="搜狗通行证" /></a></h1>
        <ul class="info" style="display:none;">
            <li>欢迎您，&nbsp;<span class="username"></span>&nbsp;</li>
            <li class="sep" >|</li>
            <li class="logout" >
                <a href="https://account.sogou.com/web/logout_redirect?client_id=1120&ru=https%3A%2F%2Faccount.sogou.com%2F">退出</a>
            </li>
        </ul>
    </div>
</div>
        
        <div class="wrapper">
            



<div class="banner">
    <div class="inner reg">
        <ul>
            
            <li ><a href="/">首页</a></li>
            
            <li class="current"><a href="/web/findpwd">找回密码</a></li>
            
        </ul>
    </div>
    <span class="underline"></span>
</div>

<div class="main-content one-col">
    <div class="inner recover" >
        <div class="title">
            用验证问题找回密码
        </div>
        <div  class="form" style="visibility:hidden;">
            <form method="post" id="" action="/web/findpwd/checkanswer">
                
                <div class="form-item">
    <label for="Ipt">请回答问题：</label>
    <span class="form-text">
        
    </span>
</div>
                <div class="form-item">
    <label for="AnswerIpt">答案：</label>
    <span class="form-el">
        <input autocomplete="off" uui-type="require answer" type="text" name="answer" id="AnswerIpt" value="" data-desc="" class="" placeholder=""/>
    </span>
</div>
                <div class="form-item form-item-vcode">
    <label for="ValidIpt">验证码：</label>
    <span class="form-el form-el-s"><input type="text" name="captcha" id="ValidIpt" value="" uui-type="require" /></span>
    <span class="vpic"><img src="/./static/img/b.gif" class="" alt="" /></span>
    <a href="#" class="change-vpic">看不清，换一张</a>
</div>
                <input type="hidden" name="userid"/>
                <div class="form-btn">
    <button type="submit">确定</button>
</div>
            </form>
        </div>
    </div>
</div>



        </div>
        
        <div class="footer">
    <div class="inner">
        <a href="/web/problem/addProblem">意见反馈</a>&nbsp;&nbsp;Copyright &copy;&nbsp;2014 Sogou.com.&nbsp;All Rights Reserved.&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank" id="ft_icp">京ICP证050897号</a>
    </div>
</div>
    </body>
    <script type="text/javascript" src="/./static/js/lib/ursa.js?t=140248"></script>
    <script type="text/javascript" src="/./static/js/recover.js?t=2014073108"></script>
    
    <script type="text/javascript">var _server_data = '${data}';</script>
    <script type="text/javascript">

var spb_vars = {
    productid:"passport",
    ptype:"web",
    pcode:"recover_question".split('/').join('_')
};

(function() {
    var pb = document.createElement('script'); pb.type = 'text/javascript'; pb.async = true;
    pb.src = '/static/js/pb.580599.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pb, s);
})();

//Prevent syntax error leads to undefined.
var server_data = (typeof _server_data==='undefined')?'{"status":"10001"}':_server_data;
        
require.config({
    baseUrl:"/./static/js",
    shim:{
        'uuiForm':{deps:['uuibase']}//not AMD style...
    }
});


require(['recover'] , function(module){
    module.init('question');
});


    </script>
</html>
<!--zly-->