<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="/static/css/main.css?t=763570" type="text/css" />
    </head>
    <body >
        <div class="header" id="Header">
    <div class="inner">
        <h1><img src="/static/img/logo.png" class="" alt="搜狗通行证" /></h1>
        <ul class="info">
            <li>欢迎您&nbsp;<span class="username"></span></li>
            <li class="sep">|</li>
            <li>
                <a href="http://www.sogou.com">搜狗首页</a>
            </li>
        </ul>
    </div>
</div>
        
        <div class="wrapper">
            



<div class="banner">
    <div class="inner reg">
        <ul>
            
            <li >首页</li>
            
            <li class="current">找回密码</li>
            
        </ul>
    </div>
    <span class="underline"></span>
</div>

<div class="main-content one-col">
    <div class="inner recover" >
        <div class="title">
            提示信息
        </div>
        <div  class="form">
            <form method="post" id="" action="">
                <script type="text/tpl" id="Target">
                    <p class="ptitle">您正要找回的账户是 </p>
                    <p class="type-title">请选择验证方式</p>
                    <ul class="type-list">
                        <% set names={email:"注册邮箱",vemail:"绑定邮箱",phone:"绑定手机",question:"通过密码提示问题找回"} %>
                        
                        <% for key,value in names %>
                        <li>
                            <span class="type">
                                <{ value }><% if key != 'question' %>：<span class="name"><{ verify_type[key] }></span><%endif%>
                            </span>
                            <a href="/recover/<{key}>.ut" class="btn short-btn">去验证</a>
                        </li>
                        <% endfor %>
                    </ul>
                    
                </script>
            </form>
        </div>
    </div>
</div>



        </div>
        
        <div class="footer">
    <div class="inner">
        &copy;2013 sogou.com
    </div>
</div>
    </body>
    <script type="text/javascript" src="http://p0.123.sogou.com/u/js/ursa.js"></script>
    <script type="text/javascript" src="/static/js/main.js?t=922709"></script>
    
    <script type="text/javascript">

var server_data = '${data}';
        
require.config({
    baseUrl:"/static/js"
});


require(['recover'] , function(module){
    module.init('type');
});


    </script>
</html>