<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="photoUtils" class="com.sogou.upd.passport.common.utils.PhotoUtils" init-method="init">
        <property name="storageEngineURL" value="http://innerupload01.picupload.djt.sogou-op.org/http_upload?appid=100140008"/>
        <property name="timeout" value="5000"/>
    </bean>

</beans>
