<html>
<head>
    <script type="text/javascript">
        var uniqname = decodeURIComponent('${uniqname}');
        window.external.passport('result', '${result}' +uniqname);

    </script>
</head>
</html>