<!doctype html>
<html><!--I can't believe they missed this!-->
<head>
    <meta charset="gbk"/>
    <meta name="author" content="Sogou.com"/>
    <meta name="adapt" content="yinyong"/>
    <title>浏览器登录</title>
    <style type="text/css">
    /*Cannot maintain anymore,what a mess*/
    *{ margin:0; padding:0; border:0; }
    #main{ width:378px; height:230px; background:url(/./static/img/connect/back.jpg) no-repeat; position:relative; }
    div{ font-size:12px; color:#000000; }
    input{ width:191px; height:24px; border:1px solid #98b2c4; line-height:24px; outline: 0px; }
    #name{ position:absolute; left:30px; top:100px; }
    #psw{ position:absolute; left:30px; top:142px; }
    #new_usr{ position:absolute; left:297px; top:100px; }
    #forgot_psw{ position:absolute; left:297px; top:142px; }
    #name_input{ position:absolute; left:84px; top:96px; }
    #psw_input{ position:absolute; left:84px; top:136px; }
    #btnlogin{ position:absolute; width:88px; height:29px; background:url(/./static/img/connect/login_btn.jpg) no-repeat; left:146px; top:179px; cursor:pointer; }
    .input_text:focus{ -webkit-box-shadow: 0px 0px 4px #98b2c4; }
    .input_text{ width:191px; height:22px; border:1px solid #98b2c4; outline: 0px; -webkit-border-radius:2px; }
    a{ text-decoration:none; color:#006ce5; font-size:12px; }
    #wel{ position:absolute; width:250px; line-height:20px; top:100px; left:100px; }
    #tips{ position:absolute; top:207px; left:260px; }
    #btn{ position:absolute; width:88px; height:29px; background:url(/./static/img/connect/login_btn.jpg) no-repeat; left:145px; top:157px; cursor:pointer; }
    #auto_complete{ border:1px solid #c6c7d2; width:191px; position:absolute; z-index:999; left:84px; top:120px; background:#ffffff; overflow:hidden; display:none; }
    .auto_complete_content{ font-size:12px; height:14px; position:relative; cursor:pointer; display:block; width:2000px; }
    .choosed{ color:#ffffff; background:#3399ff; }
</style>
<script type="text/javascript">
//Velocity parameters,for JS
 #if(!$isAuthedUser)
 var isAuthedUser=0;
 #else
 var isAuthedUser=1;
 #end

 #if(${supportLocalHash})
 var supportLocalHash=1;
 #else
 var supportLocalHash=0;
 #end
</script>
</head>
<body>
    #if(!$isAuthedUser)
    <form id="loginForm" onsubmit="checkLogin()">
    <div id="main" onclick="hideComplete()">
        <div id="name">用户名：</div>
        <div id="name_input"><input tabindex="1" type="text" name="userid" class="input_text" onfocusin="startAutoComplete()" onblur="can_hide=1;hideEsc()" onkeyup="selectComplete()" onblur="stopAutoComplete()" value="${userid}" /></div>
        <div id="new_usr"><a href="https://account.sogou.com/web/reg/nick?client_id=1065&ru=http://profile.ie.sogou.com/" target="_blank">注册新用户</a></div>
        <div id="psw">密&emsp;码：</div>
        <div id="psw_input"><input tabindex="2" type="password" name="password" class="input_text"/></div>
        <div id="forgot_psw"><a href="https://account.sogou.com/web/findpwd?client_id=1065&ru=http://profile.ie.sogou.com/" target="_blank">忘记密码？</a></div>
        <div id="btnlogin" onclick="checkLogin()" tabindex="3"></div>
        <input type="hidden" name="appid" value="${appid}"/>
        <input type="hidden" name="ts" value="${ts}"/>
        <div id="auto_complete">
            <div onmouseover="overComplete(0)" onmousedown="chooseComplete(0)" id="acc0" class="auto_complete_content" name="acc"></div>
            <div onmouseover="overComplete(1)" onmousedown="chooseComplete(1)" id="acc1" class="auto_complete_content" name="acc"></div>
            <div onmouseover="overComplete(2)" onmousedown="chooseComplete(2)" id="acc2" class="auto_complete_content" name="acc"></div>
            <div onmouseover="overComplete(3)" onmousedown="chooseComplete(3)" id="acc3" class="auto_complete_content" name="acc"></div>
            <div onmouseover="overComplete(4)" onmousedown="chooseComplete(4)" id="acc4" class="auto_complete_content" name="acc"></div>
            <div onmouseover="overComplete(5)" onmousedown="chooseComplete(5)" id="acc5" class="auto_complete_content" name="acc"></div>
            <div onmouseover="overComplete(6)" onmousedown="chooseComplete(6)" id="acc6" class="auto_complete_content" name="acc"></div>
            <div onmouseover="overComplete(7)" onmousedown="chooseComplete(7)" id="acc7" class="auto_complete_content" name="acc"></div>
        </div>
    </div>
    </form>
#else
<div id="main" onclick="hideComplete()">
    <div id="wel">${userid},欢迎您！<br/>点击登录后继续使用网络帐户</div>
    <div id="btn"  onclick="getAutoToken()"></div>
    <div id="tips">
        <a href="http://account.sogou.com/act/pclogin?userid=${userid}&ts=${ts}&v=${version}">用其他搜狗帐号登录</a>
    </div>
    <form id = "autoLoginForm" onsubmit="getAutoToken()">
       <input type="hidden" name="userid" id="userid" value="${userid}"/>   
       <input type="hidden" name="appid" value="${appid}"/>   
       <input type="hidden" name="openapptype" value="${openAppType}"/>   
       <input type="hidden" name="sig" value="${sig}"/>   
       <input type="hidden" name="timestamp" value="${timestamp}"/>   
       <input type="hidden" name="ts" value="${ts}"/>   
       <br/>   
   </form>
</div>
#end
</body>
<script type="text/javascript" src="http://s.account.sogoucdn.com/u/pcaccount/prototype.js?t=20140213"></script>
<script type="text/javascript" src="http://s.account.sogoucdn.com/u/pcaccount/pclogin.js?t=20140213"></script>
</html>
<!--zly-->