/**
  * login.css
  *
  * changelog
  * 2013-11-21[15:19:03]:copied
  *
  * @info yinyong,osx-x64,ASCII,10.129.173.11,css,/Volumes/yinyong/sohuplus/static/css/oauth2pc
  * @author yinyong@sogou-inc.com
  * @version 0.0.1
  * @since 0.0.1
  */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,figure{
	margin:0;
	padding:0;
}
section,article,aside,header,footer,nav,dialog,figure{ 
	display: block;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img,button{
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
}
/**/
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
i{
	display:inline-block;
	vertical-align:middle;
	overflow: hidden;
}
body {
	background:#fff;
	font-family: "Microsoft YaHei",simsun,Arial;
	font-size: 12px;
	color: #999;
	line-height: 18px;
}
.red{
	color: #ff0000;
}
a{
	text-decoration: none;
	color: #666;
}
a:hover{
	text-decoration: underline;
}
.blue{
	color: #2b97df;
}
.blue:active{
	color: #7a7a7a;
}
.gray{
	color: #7a7a7a
}
.gray:active{
	color: #000;
}
input,a,textarea{
	outline: none;
}
input[type="text"],input[type="password"]{
	border:#ccc 1px solid;
	width: 270px;
	height: 28px;
	background: #fff;
	box-shadow: inset #eee 0 1px 2px;
	font-size: 12px;
	border-radius: 2px;
	vertical-align: middle;
	padding: 0 0 0 10px;
}
input[type="text"]:hover,input[type="password"]:hover{
	border:#9e9e9e 1px solid;
}
input[type="text"]:focus,input[type="password"]:focus{
	border:#259be2 1px solid;
}
input[type="text"].error,input[type="password"].error{
	border: #ff0000 1px solid;
}
.btn{
	display: inline-block;
	width: 135px;
	height: 36px;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
	text-align:center;
	border:#1d80d8 1px solid; 
	background:#2c9ce0;
	background: -webkit-linear-gradient( top,#2fa1e2,#2892dd);
	color:#fff;
	border-radius: 3px;
	cursor: pointer;
}
/*.btn:hover,.btn:focus{
	border:#4aa2e2 1px solid;
	background:#54b7fc;
	background: -webkit-linear-gradient( top,#5cbcff,#4bb1fa);
}*/
.btn:active{
	border:#1d80d8 1px solid;
	background:#147cc1;
	background: -webkit-linear-gradient( top,#2fa1e2,#2892dd);
}
.btn-g{
	border:#79be14 1px solid;
	background:#84cf3c;
	background: -webkit-linear-gradient( top,#94d644,#75c833);
}
.btn-g:hover{
	border:#81d340 1px solid;
	background:#9ee64a;
	background: -webkit-linear-gradient( top,#a1e940,#9be246);
}
.btn-g:active{
	border:#589820 1px solid;
	background:#66b620;
	background: -webkit-linear-gradient( top,#63af20,#69bd21);
}
.btn-loading,.btn-loading:hover{
	border:#7cc0f1 1px solid;
	background:#84c8f8;
	background: -webkit-linear-gradient( top,#88cbfa,#7dc3f4);
}
.btn-g-loading,.btn-g-loading:hover{
	border:#b0e077 1px solid;
	background:#baea82;
	background: -webkit-linear-gradient( top,#beec87,#b4e679);
}
.fr{
	float: right;
}
/**/
.login-wrap{
	width: 535px;
	height: 345px;
	overflow: hidden;
}
.login-ad{
	width: 205px;
	height: 345px;
	background: url(ad.jpg?t=515551);
	overflow: hidden;
	float: left;
}
.login-con{
	float: left;
	padding: 0 0 0 25px;
	position: relative;
	height: 345px;
	width: 305px;
}
.login-con fieldset{
}
.login-con legend{
	height: 16px;
	background: url(logo.png?t=568336) no-repeat left 50px;
	padding: 50px 0 20px 22px;
	font-weight: bold;
	font-size: 14px;
	color: #666;
}
.login-con .controls{
	margin: 0 0 9px 0;
	position: relative;
}
.login-con .position-bottom{
	position: absolute;
	bottom: 10px;
	right: 0px;
}
.login-con .position-bottom span{
	vertical-align: middle;
}
.login-con .chkPic,.login-con .chkinput{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.login-con .chkinput input{
	width: 120px;
}
.login-con .chkPic img,.login-con .chkPic span{
	vertical-align: middle;
}
.login-con .chkPic img{
	width: 100px;
	height: 25px;
}
.login-con .checkbox input,.login-con .checkbox label{
	vertical-align: middle;
}
.position-tips{
	display: inline-block;
	position: absolute;
	display: none;
	right: 2px;
	top: 1px;
	height: 26px;
	line-height: 29px;
	overflow: hidden;
	width: auto;
	color: #ff0000;
	z-index: 2;
	padding: 0 6px 0 22px;
	background: url(input_mask.png?t=264422) left;
}
.chk-tips{
	right:80px;
}
.login-btn .controls{
	float: left;
}
.login-btn .controls:nth-child(1){
	margin: 0 5px 0 0;
}
.dropdown{
	display: inline-block;
	width: 135px;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	text-align:center;
	border:#d0d0d0 1px solid; 
	background:#fafafa;
	background: -webkit-linear-gradient( top,#fafafa,#f4f4f4);
	color:#666;
	border-radius: 3px;
	position: relative;
}
.dropdown:hover{
	background: -webkit-linear-gradient( top,#fafafa,#f4f4f4);
}
.dropdown .selected i,.dropdown .selected span{
	cursor: pointer;
}
.dropdown .selected span{
	line-height: 16px;
	vertical-align: middle;
	padding-right: 16px;
}
.outside-list{
	position: absolute;
	bottom: 36px;
	left: 0;
	background: #fff;
	width: 127px;
	border: #d6d6d6 1px solid;
	z-index: 3;
	padding: 3px;
}
.outside-list li{
	cursor: pointer;
}
.outside-list li a:hover{ 
	text-decoration: none;
}
.outside-list li:hover{
	background: #f0f0f0;
}
.outside-weibo,.outside-renren,.outside-qq,.outside-tb,.outside-arrow,.left-arrow,.chk-right{
	background: url(outside.png?t=386738) no-repeat;
	width: 16px;
	height: 16px;
}
.outside-weibo{
	background-position: 0 -40px;
}
.outside-renren{
	background-position: 0 0;
}
.outside-qq{
	background-position: 0 -80px;
}
.outside-tb{
	background-position: 0 -120px;
}
.outside-arrow{
	background-position: 12px -148px;
	height: 34px;
position: absolute;
width: 34px;
right: 0;
left: auto;
}
.left-arrow{
	background-position: 0 -202px;
	margin: 0 -2px 0 0;
}
.chk-right{
	background-position: 0 -242px;
}
.user-id .ppselecter{ 
	width:280px;
	position: absolute;
	top: 30px;
	left:0;
	border:#ccc 1px solid;
	background: #fff;
	z-index: 3;
}
.user-id .ppselecter li{
	border:#fff 1px solid;
	font-size:12px;
	display:block;
	overflow: hidden;
	-webkit-transition: all 0.2s ease;
	padding: 1px;
	cursor: pointer;
}
.user-id .ppselecter li p{line-height: 20px;}
.user-id .ppselecter li .photo,.user-id .ppselecter li .caption{
	display: inline-block;
	vertical-align: middle;
}
.user-id .ppselecter li .caption{
	width:180px;
	overflow: hidden;
	line-height: 20px;
}
.user-id .ppselecter li .del{
	color:#a4a4a4;
	display:none;
	float: right;
	margin-right:4px;
	font-size: 14px;
	height: 20px;
}
.user-id .ppselecter li .photo img,.user-id .ppselecter li .photo{
	width:30px;
	height:30px;
}
.user-id .ppselecter li.hover{
	background: #e8e8e8;
	padding:3px;
	-webkit-transition:all 0.1s ease;
}
.user-id .ppselecter li.hover .del{
	display:inline-block;
	text-decoration: none;
}
.user-id .ppselecter li.hover .del:hover{
	color: #595959;
}
.user-id .ppselecter li.hover .id{
	color:#0d0d0d;
}
.reg-switch{
	margin: 0 0 0 10px;
}
.reg-button{
	margin: 30px 0 0 0;
}
.chkbtn-wrap{
	position: absolute;
	right: 4px;
	top: 4px;
}
.chkbtn,.chkcd{
	display: inline-block;
	width: auto;
	height: 21px;
	line-height: 20px;
	font-size: 12px;
	text-align:center;
	border:#c1c1c1 1px solid; 
	background:#fafafa;
	background: -webkit-linear-gradient( top,#f0f0f0,#ebebeb);
	color:#666;
	border-radius: 2px;
	cursor: pointer;
	position: relative;
}
.chkbtn:hover,.chkcd:hover{
	background:#fafafa;
	background: -webkit-linear-gradient( top,#e2e2e2,#d9d9d9);
}
.chkbtn:active,.chkcd:active{
	background:#fafafa;
	background: -webkit-linear-gradient( top,#cdcdcd,#d8d8d8);
}
.chkbtn-disable,.chkbtn-disable:hover,.chkbtn-disableactive{
	border:#ccc 1px solid; 
	color: #ccc;
	background: -webkit-linear-gradient( top,#fffeee,#fffeee);
	cursor: default;
}
.chktext{
	display: inline-block;
	width: auto;
	height: 21px;
	line-height: 20px;
	font-size: 12px;
	text-align:center;
	color: #ff0000;
	min-width: 20px;
	vertical-align: middle;
}
.page-404{
	width: 535px;
	height: 345px;
	overflow: hidden;
	position: relative;
	background: url(404.jpg?t=) no-repeat center;
}
.page-404-btn{
	position: absolute;
	right: 20px;
	bottom: 18px;
}
.chkbtn-wrap span.x{display: none;}
.position-tips span.r{
	margin-left: 2px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/static/img/r.png?t=511036) 2px 8px no-repeat;
}
.position-tips span.x{
	margin-left: 2px;
	margin-top: -4px;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 999em;
	background: red;
	color: white;
	vertical-align: middle;
	line-height: 17px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
}
.select-btn{
	display: none;
}
.select-btn{
	position: absolute;
	width: 28px;
	height: 28px;
	background: url(outside.png?t=386738) 6px -152px no-repeat;
	right: 0;
	top: 0;
}
.select-btn.up{
   -webkit-transform:rotate(180deg);
   -moz-transform:rotate(180deg);
   -ms-transform:rotate(180deg);
   -o-transform:rotate(180deg);
   transform:rotate(180deg);
}