<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>用户信息</title>
    <meta name="description" content="搜狗浏览器个人中心页"/>
    <meta name="author" content="yinyong#sogou-inc.com"/>
    <link href="/./static/css/oauth2pc/login.css?t=810906" rel="stylesheet" />
    <!--[if IE 6]>
    <link href="/./static/css/oauth2pc/ie6.css?t=301171" rel="stylesheet" />
    <![endif]-->
    <!--[if lte IE 9]>
    <script src="/./static/js/oauth2pc/html5.js?t=028570"></script>
    <![endif]-->
    <script type="text/javascript" charset = "utf-8">
        var splus = {};
        splus.pwd_token = "e073fa1dd6f40445a4d0940b58828793";
        splus.bru = "";
        splus.sp_status="1";
        splus.avatar_token="1378731807624|NzE0MTExODE=";
        splus.accesstoken="94875c31900ce878b995095ee911d9e950f59e81cf218cca25d42adcc3c6ade5";
        splus.instanceid="${instanceid}";
        splus._timestamp="201308061701";
    </script>
    <script type="text/javascript">
  try{var isBindMobileUsable=+eval("${isBindMobileUsable}")}catch(e){}
  try{var isBindEmailUsable=+eval("${isBindEmailUsable}")}catch(e){}
  try{var isUpdatepwdUsable=+eval("${isUpdatepwdUsable}")}catch(e){}
  try{var isSohuAccount=+eval("${isSohuAccount}")}catch(e){}
    </script>
    <script type="text/javascript" src="/./static/js/oauth2pc/require-jquery.js?t=168932" data-main="/./static/js/oauth2pc/main.js"></script>
    <!--[if IE 6]>
    <script src="/./static/js/oauth2pc/ie6.js?t=631782"></script>
    <![endif]-->
    <script src="/./static/js/oauth2pc/sdk.js?appkey=21556307"></script>
</head>
<body class="user-login">
    <aside class="sidebar">
        <h1>搜狗浏览器个人中心</h1>
        <div class="uesr-photo">
            <img id="avatar" src="${imageUrl}" default-src="http://imgstore01.cdn.sogou.com/app/a/100140008/1065_1379399471998" />
        </div>
        <div class="photo-error" style="display:none">亲爱的用户，您的头像上传失败，请重新再传</div>
        <div class="uesr-name">${uniqname}</div>
        <nav class="uesr-nav">
            <!--<a href="javascript:" id="set_account">账号设置</a>
        -->
        <a href="javascript:" id="change_portrait" style="position:relative">
            <input multiple autocomplete="off" type="file"  name="Filedata" id="pro_file_input"  style="height:18px;width:66px;left:61px;position:absolute;top:5px;opacity:0;filter:alpha(opacity=0)"/>
            更换头像
        </a>
        <!--<a href="#">退出</a>
    -->
</nav>
</aside>
<div class="content">
<div class="form-wrap">
    <form>
        <fieldset>
            <legend>基本资料</legend>
            <div class="opt-area">
                <div class="state-wrapper hide">
                    <div class="post-state success"></div>
                </div>
                <div class="control-group clearfix">
                    <label>账号</label>
                    <div class="controls">
                        <input autocomplete="off" disableautocomplete type="text" value="${userid}" id="pro_sname" disabled="true"/>
                        <p class="tips red" style="display: none;"></p>
                    </div>
                </div>
                <div class="control-group clearfix">
                    <label>用户名</label>
                    <div class="controls">
                        <input autocomplete="off" type="text" class="" value="${uniqname}" pro_default="${uniqname}" id="pro_nick"/>
                        <p class="tips red" style="display: none;"></p>
                    </div>
                </div>

            </div>
        </fieldset>
        <div class="sent-btn-wrap">
            <button class="btn-sent" id="pro_btn_basic">保存</button>
        </div>
        <fieldset class="bind sogou">
            <legend>账号安全</legend>
            <div class="control-group clearfix">
                <label>手机绑定</label>
                <div class="controls">
                    <input autocomplete="off" type="text" value="${bindMobile}" id="pro_phone"/>
                    <div class="bind-btn">
                        <a href="javascript:">绑定</a>
                    </div>
                    <p class="tips">可用手机找回密码及登录</p>
                    <!--<p class="tips red"></p>
                -->
            </div>
        </div>
        <!--此处为绑定手机时的密码输入框-->
        <div class="control-group clearfix"style="display:none" id="pro_vcode_pwd_area" >
            <label>密码</label>
            <div class="controls">
                <input autocomplete="off" type="password" class="text" id="pro_pwd"/>
                <!--  <div class="code"  style="visibility:hidden;">
                <a href="javascript:">获取验证码</a>
            </div>
            -->
            <p class="tips">用于验证账户</p>
        </div>
    </div>
    <!--此处为绑定手机时的验证码输入框-->
    <div class="control-group clearfix" style="display:none" id="pro_vcode_area">
        <label>手机验证码</label>
        <div class="controls">
            <input autocomplete="off" type="text" class="text" style="width:70px;" id="pro_vcode">
            <div class="code">
                <a href="javascript:">获取验证码</a>
            </div>
            <p class="tips">可用手机找回密码及登录</p>
            <div class="btn-wrap">
                <a href="javascript:" class="btn btn-blue">确定</a>
                <a href="javascript:" class="btn">取消</a>
            </div>
        </div>
    </div>

    <div class="control-group clearfix">
        <label>邮箱绑定</label>

        <div class="controls"  id="pro_email_area_1" style="display: none;">
            <input autocomplete="off" disabled type="text" value="" id="pro_xemail" />
            <div class="bind-btn unbind-btn">
                <a href="javascript:">重新绑定</a>
            </div>
            <p class="tips">可用邮箱找回密码及登录</p>
        </div>

        <div class="controls text-tips"  id="pro_email_area_2" style="display: none;">
            <p>确认邮件已发送到邮箱：</p>
            <p>请查收文件完成绑定</p>
            <div class="email">
                <p>没收到邮件?</p>
                <p>
                    请到邮箱的广告邮件，垃圾邮件目录下找找
                </p>
            </div>
            <p class="tips">可用邮箱找回密码及登录</p>
        </div>
        <!--邮箱绑定-->
        <div class="controls control-group clearfix"  id="pro_email_area_3" >
            <input autocomplete="off" type="text" value="${bindEmail}" id="pro_email"/>
            <div class="bind-btn">
                <a href="javascript:">绑定</a>
            </div>
            <p class="tips">可用邮箱找回密码及登录</p>
        </div>
        <!--邮箱绑定时用到的密码输入框-->
        <div class="control-group clearfix" style="display:none;margin-top:10px" id="pro_email_pwd_area">
            <label>密码</label>
            <div class="controls">
                <input autocomplete="off" type="password" class="text" id="pro_email_pwd"/>
                <p class="tips">用于验证账户</p>
                <div class="btn-wrap">
                    <a href="javascript:" class="btn btn-blue">确定</a>
                    <a href="javascript:" class="btn">取消</a>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="sogou">
    <legend>密码修改</legend>
    <div class="opt-area">
        <div class="state-wrapper hide">
            <div class="post-state success"></div>
        </div>
        <div class="control-group clearfix">
            <label>原始密码</label>
            <div class="controls">
                <input autocomplete="off" disableautocomplete class="pwd" type="password" id="pro_ori_pass"/>
                <p class="tips red" style="display: none;"></p>
            </div>
        </div>
        <div class="control-group clearfix">
            <label>新密码</label>
            <div class="controls">
                <input autocomplete="off" disableautocomplete class="pwd" type="password" id="pro_new_pass"/>
                <p class="tips red" style="display: none;"></p>
            </div>
        </div>
        <div class="control-group clearfix">
            <label>确认新密码</label>
            <div class="controls">
                <input autocomplete="off" disableautocomplete class="pwd" type="password" id="pro_con_pass" />
                <p class="tips red" style="display: none;"></p>
            </div>
        </div>

    </div>
</fieldset>
<div class="sent-btn-wrap sogou">
    <button type="button"  class="btn-sent" id="pro_btn_pass">保存</button>
</div>
<!--这里从搜狐删除的第三方登录-->
</form>
</div>
<script>require(['pages/profile']);</script>
<div class="footer">
&copy;2014 SOGOU.COM - 京ICP证050897号
<a href="http://www.sogou.com/docs/terms.htm">免责声明</a>
.
</div>
</div>

<!---->
<div class="modal" style="display:none" id="pro_confirm_box">
<div class="modal-body"> <i class="icon-error"></i>
<span>确认后将解除手机1888888888与该账号的绑定！</span>
</div>
<div class="modal-footer">
<a href="javascript:" class="btn btn-blue">确定</a>
<a href="javascript:" class="btn" >取消</a>
</div>
</div>
</body>
<script type="text/javascript">
    if(window.isSohuAccount){
        $(".sogou").remove();
        $('form').append("<a class='sohu' href='${sohuBindUrl}'>去搜狐修改密保信息</a>")
        $('form').append("<a class='sohu' href='${sohuUpdatepwdUrl}'>去搜狐修改密码</a>")
    }
</script>
</html>