<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="/./static/css/index.css?t=913865" type="text/css" />
    </head>
    <body >
        <div class="header">
            <div class="inner">
                <h1><img src="/./static/img/index/logo.png" class="" alt="搜狗通行证" /></h1>
                
            </div>
        </div>
        <div class="wrapper">
            <div class="inner">
                <div class="desc">
                    <img src="/./static/img/index/desc.jpg" class="" alt="" />
                </div>
                <div class="login ">
                    <div class="login-inner">
                        <h2>欢迎登录搜狗通行证</h2>
                        <div id="logdiv" style="display:none;"></div>
                        <form method="post" id="Login" action="/web/login">
                                
                            <p class="username">
                                <input type="text" name="username" value="" />
                            </p>
                            <p class="password">
                                <input type="password" name="password" value="" />
                            </p>
                            <p class="vcode">
                                <input type="text" name="captcha" value="" />
                                <img src="about:blank" class="" alt="" />
                                <a href="#">看不清，换一张</a>
                            </p>
                            <p class="func">
                                <label>
                                    <input type="checkbox" name="autoLogin" value="1" id="RemChb" checked data-target="RemChbSpan"/>
                                    <span class="checkbox checkbox-checked" id="RemChbSpan" ></span>
                                    记住登录状态
                                </label>
                                <a href="https://passport.sohu.com/web/recoverpwd">找回密码</a>
                            </p>
                            <button type="submit">
                                <img src="/./static/img/index/loginbtn.png" class="" alt="登录" />
                            </button>
                            <p class="reg">
                                还没有搜狗通行证？<a href="/web/reg/email">立即注册</a>
                            </p>
                            <p class="error uname-error" ><span class="text"></span><a href="#"></a></p>
                            <p class="error vcode-error"><span class="text"></span><a href="#"></a></p>
                        </form>
                        <div class="third-login">
                            <span >使用其他账号登录</span>
                            <a href="#">weibo</a>
                            <a href="#">qq</a>
                            <a href="#">tqq</a>
                            <a href="#">sohu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="question">
            <div class="title">
                <h3>常见问题</h3>
            </div>
            <ul class="items">
                
                <li>
                    <a href="#">如何设置更好的密码</a>
                </li>
                
                <li>
                    <a href="#">如何设置更好的密码</a>
                </li>
                
                <li>
                    <a href="#">如何设置更好的密码</a>
                </li>
                
                <li>
                    <a href="#">如何设置更好的密码</a>
                </li>
                
                <li>
                    <a href="#">如何设置更好的密码</a>
                </li>
                
            </ul>
        </div>

        <div class="footer">
            &copy;2013 sogou.com <a href="#">京备</a>
        </div>
        
    </body>
    <script type="text/javascript" src="/./static/js/lib/ursa.js?t=346533"></script>
    <script type="text/javascript" src="/./static/api/login.js?t=950532"></script>
    <script type="text/javascript" src="/./static/js/index.js?t=005436"></script>
    <script type="text/javascript">
        
var server_data = '${data}';

require.config({
    baseUrl:"/./static/js"
});

require(['index'] , function(index){
    index.init();
});

    </script>
</html>