<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>搜狗通行证</title>
        <link rel="stylesheet" href="/./static/css/index.css?t=197534" type="text/css" />
    </head>
    <body >
        <div class="header">
            <div class="inner">
                <h1><img src="/./static/img/index/logo.png" class="" alt="搜狗通行证" /></h1>
                
            </div>
        </div>
        <div class="wrapper">
            <div class="inner">
                <div class="desc">
                    <img src="/./static/img/index/desc.jpg" class="" alt="" />
                </div>
                <div class="login">
                    <div class="login-inner">
                        <h2>欢迎登录搜狗通行证</h2>
                        <div id="logdiv" style="display:none;"></div>
                        <form method="post" id="Login" action="/web/login">
                                
                            <p class="username">
                                <b class="focusbg"></b>
                                <span>用户名/手机号/邮箱</span>
                                <input autocomplete="off" type="text" name="username" value="" />
                            </p>
                            <p class="password">
                                <b class="focusbg"></b>
                                <span>密码</span>
                                <input autocomplete="off" type="password" name="password" value="" />
                            </p>
                            <p class="vcode">
                                <b class="focusbg"></b>
                                <span>验证码</span>
                                <input autocomplete="off" type="text" name="captcha" value="" />
                                <img src="/./static/img/b.gif" class="" alt="" />
                                <a href="#">看不清，换一张</a>
                            </p>
                            <p class="func">
                                <span class="checkbox checkbox-checked" id="RemChbSpan" ></span>
                                <input type="checkbox" name="autoLogin" value="1" id="RemChb" checked data-target="RemChbSpan"/>
                                <label for="RemChb">
                                    自动登录
                                </label>
                                <a href="/web/findpwd">忘记密码？</a>
                            </p>
                            <button type="submit">
                                &nbsp;
                            </button>
                            <p class="reg">
                                还没有搜狗通行证？<a tabindex="-1" href="/web/reg/email">立即注册</a>
                            </p>
                            <p class="error uname-error" ><span class="text"></span><a href="#"></a></p>
                            <p class="error vcode-error"><span class="text"></span><a href="#"></a></p>
                        </form>
                        <div class="third-login">
                            <span >使用其他帐号登录</span>
                            <a href="#">sina</a><a href="#">qq</a><a href="#">baidu</a><a href="#">renren</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="question" style="display:none;">
            <div class="title">
                <h3>常见问题</h3>
            </div>
            <ul class="items">
                
                <li>
                    <a href="#">如何设置更好的密码</a>
                </li>
                
                <li>
                    <a href="#">如何设置更好的密码</a>
                </li>
                
                <li>
                    <a href="#">如何设置更好的密码</a>
                </li>
                
                <li>
                    <a href="#">如何设置更好的密码</a>
                </li>
                
                <li>
                    <a href="#">如何设置更好的密码</a>
                </li>
                
            </ul>
        </div>

        <div class="footer">
            <p class="links">
                <a href="/web/problem/addProblem">意见反馈</a> - <a href="http://fuwu.sogou.com/" target="_blank">企业推广</a> - <a href="http://hr.sogou.com" target="_blank">诚聘英才</a> - <a href="http://top.sogou.com/" target="_blank">热搜榜</a>&nbsp;-&nbsp;<a href="http://www.sogou.com/docs/terms.htm" target="_blank">免责声明</a>
            </p>
        Copyright &copy;&nbsp;2017 Sogou.com.&nbsp;All Rights Reserved.&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank" id="ft_icp">京ICP证050897号</a>
        </div>
        
    </body>
    <script type="text/javascript" src="/./static/js/lib/ursa.js?t=140248"></script>
    <script type="text/javascript" src="/./static/api/login.js?t=351247"></script>
    <script type="text/javascript" src="/./static/js/index.js?t=726584"></script>
    <script type="text/javascript">

var spb_vars = {
    productid:"passport",
    ptype:"web",
    pcode:"index"
};

(function() {
    var pb = document.createElement('script'); pb.type = 'text/javascript'; pb.async = true;
    pb.src = '/static/js/pb.580599.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pb, s);
})();
        
var server_data = '${data}';

require.config({
    baseUrl:"/./static/js"
});

require(['index'] , function(index){
    index.init();
});

    </script>
</html>
<!--zly-->
